In [1]:
import pandas as pd
import os

FILE = 'CDI_Pageviews_fixed'
DATA_DIR = '../data_clean/'

data = pd.read_csv(os.path.join(DATA_DIR, FILE + '.csv'))
data.shape

(4299, 21)

In [2]:
data.isna().sum()

page_view_id         0
anonymous_visitor    0
browser              0
campaign             0
contact              0
duration             0
operating_system     0
referrer_type        0
time                 0
page_title           0
type                 0
url                  0
viewed_on            0
visit                0
visitor_key          0
web_content          0
aangemaakt_op        0
gewijzigd_door       0
gewijzigd_op         0
status               0
reden_van_status     0
dtype: int64

In [31]:
def fill_na():
    for file in os.listdir(DATA_DIR):
        dataframe = pd.read_csv(os.path.join(DATA_DIR, file))
        numeric = dataframe.select_dtypes(include='number').columns
        non_numeric = dataframe.select_dtypes(exclude='number').columns
        dataframe[numeric] = dataframe[numeric].fillna(-1)
        dataframe[non_numeric] = dataframe[non_numeric].fillna('unknown')
        dataframe.to_csv(os.path.join(DATA_DIR, file), index=False)

fill_na()

In [9]:
data['visitor_key'].value_counts()

visitor_key
c644d32866324170bc6080dd60d4702c    49
c5526d64d5aa4f7987c5c44ed13c49b8    40
c78d540767214d5f9061bc7b669d8473    38
c4708012068a404a9ac3d8803ac3e0a5    28
c968a1212d834e9699e5eb4e348d4f93    28
                                    ..
cff7c11a084b4de2a84b50834dd0e40b     1
cbd5d2f7dd2e4840b3592658de1a6b01     1
cb436fffcd984d548c398206476c5bf6     1
c1e04c504e1c4386ac29207958ddaf89     1
ccfa91dd51bc49bc8e331b98f4164ab6     1
Name: count, Length: 1482, dtype: int64

In [27]:
COL = 'contact_contactpersoon_id'

In [28]:
# check duplicates based on contact_contactpersoon_id
data[data.duplicated(subset=COL, keep=False)]

Empty DataFrame
Columns: [contact_contactpersoon_id, contact_account, contact_functietitel, contact_persoon_id, contact_status, contact_voka_medewerker]
Index: []

In [16]:
columns = data.columns
columns = list(columns)
columns.remove(COL)
data = data.groupby(COL).agg(lambda x: x.tolist())
data.reset_index(inplace=True)
columns = list(data.columns)
columns.remove(COL)
for col in columns:
    data[col] = data[col].apply(lambda x: list(set(x)))
    for row in data[col]:
        if len(row) > 1:
            if 'unknown' in row:
                row.remove('unknown')
            row.pop(0)
    data[col] = data[col].apply(lambda x: x[0] if len(x) > 0 else 'unknown')
data.drop_duplicates(inplace=True)

In [19]:
data = pd.read_csv('../data_clean/CDI_pageviews_fixed.csv')

# show page_view_id where it is null
data['page_view_id']

0       001B28C8-4F5E-4FD7-A0BB-87755F315E37
1       0029F118-A50A-40FD-96D7-75D428BFD933
2       0030FFCF-E5C2-440B-B5C5-20F128673BB3
3       003269D3-A173-4AE9-921A-8A7AD6B999A5
4       0069AAA3-23E5-45CF-839D-3C28A2E90004
                        ...
4294    FF82790C-6EF8-4B69-94A0-06B886E4AB0F
4295    FF8FC4D4-D756-472B-AE27-7EC20BDDA953
4296    FF9619A1-8E61-4FCE-8030-4A791DE26338
4297    FFA0124A-A2D0-49D4-8F2E-D277782C04E8
4298    FFD1644A-65D2-4E9F-9C8D-2A8FBED19E87
Name: page_view_id, Length: 4299, dtype: object