In [11]:
import pandas as pd

### Afspraak alle.csv

In [72]:
data_afspraak_alle = pd.read_csv('../data/Afspraak alle.csv', sep=',')
data_afspraak_alle.drop_duplicates(inplace=True)
data_afspraak_alle.head()

             crm_Afspraak_ALLE_Afspraak
0  00082DAA-24BF-ED11-83FF-6045BD8952CE
1  00109C77-4D09-EB11-8114-001DD8B72B61
2  0011A5D9-CC9A-EC11-B400-0022488005A7
3  0016532E-14E3-EC11-BB3C-000D3ABCA38B
4  003760C1-13B4-EC11-983F-00224883C880

### Afspraak betreft account_cleaned.csv

In [73]:
data_afspraak_account_cleaned = pd.read_csv('../data/Afspraak betreft account_cleaned.csv', sep=',')
data_afspraak_account_cleaned.rename(
    columns={
             'crm_Afspraak_BETREFT_ACCOUNT_Afspraak': 'betreft_afspraak',
             'crm_Afspraak_BETREFT_ACCOUNT_Thema': 'betreft_thema',
             'crm_Afspraak_BETREFT_ACCOUNT_Subthema': 'betreft_subthema',
             'crm_Afspraak_BETREFT_ACCOUNT_Onderwerp': 'betreft_onderwerp',
             'crm_Afspraak_BETREFT_ACCOUNT_Betreft_id': 'betreft_id',
             'crm_Afspraak_BETREFT_ACCOUNT_Eindtijd': 'betreft_eindtijd',
             'crm_Afspraak_BETREFT_ACCOUNT_KeyPhrases': 'betreft_keyphrases',
             }, inplace=True)
data_afspraak_account_cleaned.drop_duplicates(inplace=True)
data_afspraak_account_cleaned.head()

,betreft_afspraak,betreft_thema,betreft_subthema,betreft_onderwerp,betreft_id,betreft_eindtijd,betreft_keyphrases
0,00082DAA-24BF-ED11-83FF-6045BD8952CE,Lidmaatschap,Retentie (Lidmaatschap),ov-ledenbezoek-2023,33F751E0-D26B-E111-B43A-00505680000A,18-4-2023,"[NAME] [NAME] [NAME] , grootste visverwerkende..."
2,00109C77-4D09-EB11-8114-001DD8B72B61,Lidmaatschap,Retentie (Lidmaatschap),ov-ledenbezoek-2020,B9B048FF-A868-E111-B43A-00505680000A,16-10-2020,"china en india , india en china , verschillend..."
3,0011A5D9-CC9A-EC11-B400-0022488005A7,Financieel,Financiering,OV-Kennismaking inzake funding,C9D63042-CC9A-EC11-B400-0022488005A7,28-2-2022,"interesse , ervaringen , ondernemers , investe..."
4,0016532E-14E3-EC11-BB3C-000D3ABCA38B,Lidmaatschap,Retentie (Lidmaatschap),ov-ledenbezoek-2022,3E4CE37B-D069-E111-B43A-00505680000A,24-6-2022,"verwerkende fabriek , nodeloze oproepingen , g..."
5,003760C1-13B4-EC11-983F-00224883C880,Lidmaatschap,Retentie (Lidmaatschap),OV Ledengesprek 2022,622D5DC9-416B-E111-B43A-00505680000A,21-4-2022,"aal arbeider vti waregem , [NAME] [NAME] [NAME..."

In [74]:
data_afspraak_account_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8435 entries, 0 to 8594
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   betreft_afspraak    8435 non-null   object
 1   betreft_thema       8432 non-null   object
 2   betreft_subthema    8432 non-null   object
 3   betreft_onderwerp   8399 non-null   object
 4   betreft_id          8435 non-null   object
 5   betreft_eindtijd    8435 non-null   object
 6   betreft_keyphrases  7672 non-null   object
dtypes: object(7)
memory usage: 527.2+ KB

### Afspraak betreft contact_cleaned.csv

In [75]:
data_afspraak_contact_cleaned = pd.read_csv('../data/Afspraak betreft contact_cleaned.csv', sep=',')
data_afspraak_contact_cleaned.rename(
    columns={
        'crm_Afspraak_BETREFT_CONTACTFICHE_Afspraak': 'betreft_afspraak',
        'crm_Afspraak_BETREFT_CONTACTFICHE_Thema': 'betreft_thema',
        'crm_Afspraak_BETREFT_CONTACTFICHE_Subthema': 'betreft_subthema',
        'crm_Afspraak_BETREFT_CONTACTFICHE_Onderwerp': 'betreft_onderwerp',
        'crm_Afspraak_BETREFT_CONTACTFICHE_Betreft_id': 'betreft_id',
        'crm_Afspraak_BETREFT_CONTACTFICHE_Eindtijd': 'betreft_eindtijd',
        'crm_Afspraak_BETREFT_CONTACTFICHE_KeyPhrases': 'betreft_keyphrases',
        }, inplace=True)
data_afspraak_contact_cleaned.drop_duplicates(inplace=True)
data_afspraak_contact_cleaned.head()

,betreft_afspraak,betreft_thema,betreft_subthema,betreft_onderwerp,betreft_id,betreft_eindtijd,betreft_keyphrases
0,00082DAA-24BF-ED11-83FF-6045BD8952CE,Lidmaatschap,Retentie (Lidmaatschap),ov-ledenbezoek-2023,33F751E0-D26B-E111-B43A-00505680000A,18-4-2023,"[NAME] [NAME] [NAME] , grootste visverwerkende..."
2,00109C77-4D09-EB11-8114-001DD8B72B61,Lidmaatschap,Retentie (Lidmaatschap),ov-ledenbezoek-2020,B9B048FF-A868-E111-B43A-00505680000A,16-10-2020,"china en india , india en china , verschillend..."
3,0011A5D9-CC9A-EC11-B400-0022488005A7,Financieel,Financiering,OV-Kennismaking inzake funding,C9D63042-CC9A-EC11-B400-0022488005A7,28-2-2022,"interesse , ervaringen , ondernemers , investe..."
4,0016532E-14E3-EC11-BB3C-000D3ABCA38B,Lidmaatschap,Retentie (Lidmaatschap),ov-ledenbezoek-2022,3E4CE37B-D069-E111-B43A-00505680000A,24-6-2022,"verwerkende fabriek , nodeloze oproepingen , g..."
5,003760C1-13B4-EC11-983F-00224883C880,Lidmaatschap,Retentie (Lidmaatschap),OV Ledengesprek 2022,622D5DC9-416B-E111-B43A-00505680000A,21-4-2022,"aal arbeider vti waregem , [NAME] [NAME] [NAME..."

In [76]:
data_afspraak_contact_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8435 entries, 0 to 8594
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   betreft_afspraak    8435 non-null   object
 1   betreft_thema       8432 non-null   object
 2   betreft_subthema    8432 non-null   object
 3   betreft_onderwerp   8399 non-null   object
 4   betreft_id          8435 non-null   object
 5   betreft_eindtijd    8435 non-null   object
 6   betreft_keyphrases  7672 non-null   object
dtypes: object(7)
memory usage: 527.2+ KB

### Afspraak account_gelinkt_cleaned.csv

In [77]:
data_afspraak_account_gelinkt_cleaned = pd.read_csv('../data/Afspraak_account_gelinkt_cleaned.csv', sep=',')

# switch crm_Afspraak_ACCOUNT_GELINKT_Account and crm_Afspraak_ACCOUNT_GELINKT_Eindtijd from place
cols = list(data_afspraak_account_gelinkt_cleaned.columns)
cols[4], cols[5] = cols[5], cols[4]
data_afspraak_account_gelinkt_cleaned = data_afspraak_account_gelinkt_cleaned[cols]

data_afspraak_account_gelinkt_cleaned.rename(
    columns={
        'crm_Afspraak_ACCOUNT_GELINKT_Afspraak': 'betreft_afspraak',
        'crm_Afspraak_ACCOUNT_GELINKT_Thema': 'betreft_thema',
        'crm_Afspraak_ACCOUNT_GELINKT_Subthema': 'betreft_subthema',
        'crm_Afspraak_ACCOUNT_GELINKT_Onderwerp': 'betreft_onderwerp',
        'crm_Afspraak_ACCOUNT_GELINKT_Account': 'gelinkt_account_id',
        'crm_Afspraak_ACCOUNT_GELINKT_Eindtijd': 'betreft_eindtijd',
        'crm_Afspraak_ACCOUNT_GELINKT_KeyPhrases': 'betreft_keyphrases',
        }, inplace=True)

data_afspraak_account_gelinkt_cleaned.drop_duplicates(inplace=True)
data_afspraak_account_gelinkt_cleaned.head()

,betreft_afspraak,betreft_thema,betreft_subthema,betreft_onderwerp,gelinkt_account_id,betreft_eindtijd,betreft_keyphrases
0,00082DAA-24BF-ED11-83FF-6045BD8952CE,Lidmaatschap,Retentie (Lidmaatschap),ov-ledenbezoek-2023,513DC17D-A968-E111-B43A-00505680000A,18-4-2023,"[NAME] [NAME] [NAME] , grootste visverwerkende..."
2,0011A5D9-CC9A-EC11-B400-0022488005A7,Financieel,Financiering,OV-Kennismaking inzake funding,C63C4F8E-CF12-EB11-8114-001DD8B72B61,28-2-2022,"interesse , ervaringen , ondernemers , investe..."
3,0016532E-14E3-EC11-BB3C-000D3ABCA38B,Lidmaatschap,Retentie (Lidmaatschap),ov-ledenbezoek-2022,2BA29C15-9368-E111-B43A-00505680000A,24-6-2022,"verwerkende fabriek , nodeloze oproepingen , g..."
4,003760C1-13B4-EC11-983F-00224883C880,Lidmaatschap,Retentie (Lidmaatschap),OV Ledengesprek 2022,A06B2F59-C368-E111-B43A-00505680000A,21-4-2022,"aal arbeider vti waregem , [NAME] [NAME] [NAME..."
5,0040699E-FBA9-EC11-983F-002248848547,Lidmaatschap,Retentie (Lidmaatschap),OV-Ledengesprek-2022,93F2AC34-C068-E111-B43A-00505680000A,15-4-2022,"[NAME] [NAME] [NAME] , plato develop , korte r..."

In [78]:
data_afspraak_account_gelinkt_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3156 entries, 0 to 3311
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   betreft_afspraak    3156 non-null   object
 1   betreft_thema       3156 non-null   object
 2   betreft_subthema    3156 non-null   object
 3   betreft_onderwerp   3122 non-null   object
 4   gelinkt_account_id  3156 non-null   object
 5   betreft_eindtijd    3156 non-null   object
 6   betreft_keyphrases  2935 non-null   object
dtypes: object(7)
memory usage: 197.2+ KB

### Columns vergelijken

In [79]:
data_afspraak_account_cleaned.columns

Index(['betreft_afspraak', 'betreft_thema', 'betreft_subthema',
       'betreft_onderwerp', 'betreft_id', 'betreft_eindtijd',
       'betreft_keyphrases'],
      dtype='object')

In [80]:
data_afspraak_contact_cleaned.columns

Index(['betreft_afspraak', 'betreft_thema', 'betreft_subthema',
       'betreft_onderwerp', 'betreft_id', 'betreft_eindtijd',
       'betreft_keyphrases'],
      dtype='object')

In [81]:
data_afspraak_contact_cleaned == data_afspraak_account_cleaned

,betreft_afspraak,betreft_thema,betreft_subthema,betreft_onderwerp,betreft_id,betreft_eindtijd,betreft_keyphrases
0,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True
5,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...
8590,True,True,True,True,True,True,True
8591,True,True,True,True,True,True,True
8592,True,True,True,True,True,True,True
8593,True,True,True,True,True,True,True
8594,True,True,True,True,True,True,True

In [82]:
mismatched_elements = [element for element in data_afspraak_contact_cleaned if element not in data_afspraak_account_cleaned]
mismatched_elements

[]

In [83]:
data_afspraak_account_gelinkt_cleaned.columns

Index(['betreft_afspraak', 'betreft_thema', 'betreft_subthema',
       'betreft_onderwerp', 'gelinkt_account_id', 'betreft_eindtijd',
       'betreft_keyphrases'],
      dtype='object')

### Conclusie

data_afspraak_account_cleaned en data_afspraak_contact_cleaned zijn gelijk aan elkaar. data_afspraak_account_gelinkt_cleaned heeft een andere identifier.