In [1]:
import pandas as pd
import numpy as np
import os

### Account.csv

In [2]:
data_acc = pd.read_csv('../data_clean/Account_fixed.csv', sep=',')
data_acc.head()

,account_account_id,account_adres_geografische_regio,account_adres_geografische_subregio,account_adres_plaats,account_adres_postcode,account_adres_provincie,account_industriezone_naam_,account_is_voka_entiteit,account_ondernemingsaard,account_ondernemingstype,account_oprichtingsdatum,account_primaire_activiteit,account_reden_van_status,account_status,account_voka_nr_,account_adres_land
0,00002561-6762-EC11-8F8F-000D3A2E7738,Mechelen-Kempen,Kempen-West,Herentals,2200,Antwerpen,unknown,0,unknown,Bedrijf,8-9-2013,unknown,Actief,1,291484,België
1,00002DAC-0A69-E111-B43A-00505680000A,Oost-Vlaanderen,Oudenaarde,BEVERE,9700,Oost-Vlaanderen,unknown,0,Diensten,Bedrijf,2-10-1989,Overige industrie & diensten,Actief,1,128093,België
2,00002F96-DC68-E111-B43A-00505680000A,Limburg,Oost Limburg,KINROOI,3640,Limburg,unknown,0,unknown,Bedrijf,17-2-1999,unknown,Actief,1,166644,België
3,00005967-2959-E411-8F25-005056B06EB4,Vlaams-Brabant,Regio West Side,HALLE,1500,Vlaams-Brabant,unknown,0,unknown,Bedrijf,unknown,Financiële diensten,Inactief,0,217534,België
4,00006DCD-DF68-E111-B43A-00505680000A,West-Vlaanderen,Roeselare/Tielt,EMELGEM,8870,West-Vlaanderen,unknown,0,unknown,Bedrijf,27-12-2001,Technologische industrie & diensten,Inactief,0,81445,België

In [3]:
data_acc.columns

Index(['account_account_id', 'account_adres_geografische_regio',
       'account_adres_geografische_subregio', 'account_adres_plaats',
       'account_adres_postcode', 'account_adres_provincie',
       'account_industriezone_naam_', 'account_is_voka_entiteit',
       'account_ondernemingsaard', 'account_ondernemingstype',
       'account_oprichtingsdatum', 'account_primaire_activiteit',
       'account_reden_van_status', 'account_status', 'account_voka_nr_',
       'account_adres_land'],
      dtype='object')

### Activiteitscode.csv

In [4]:
data_acti = pd.read_csv('../data_clean/Activiteitscode_fixed.csv', sep=",")
data_acti.head()

,activiteitscode_naam,activiteitscode_activiteitscode_id,activiteitscode_status
0,Accountancy & boekhouding,7D8F7E6B-1A62-E111-8F14-00505680000A,Actief
1,Agrarische & bio-industrie,808F7E6B-1A62-E111-8F14-00505680000A,Actief
2,Automobiel- en Tweewielerindustrie,828F7E6B-1A62-E111-8F14-00505680000A,Actief
3,Bouw,858F7E6B-1A62-E111-8F14-00505680000A,Actief
4,"Chemie, petrochemie",878F7E6B-1A62-E111-8F14-00505680000A,Actief

In [5]:
data_acti.columns

Index(['activiteitscode_naam', 'activiteitscode_activiteitscode_id',
       'activiteitscode_status'],
      dtype='object')

### Account activiteitscode.csv

In [6]:
data_acc_acti = pd.read_csv('../data_clean/Account_activiteitscode_fixed.csv', sep=",")
data_acc_acti.head()

,account_activiteitscode_account,account_activiteitscode_activiteitscode,account_activiteitscode_inf_account_inf_activiteitscodeid
0,00002DAC-0A69-E111-B43A-00505680000A,20787771-1A62-E111-8F14-00505680000A,2D780AA3-856B-E111-B98D-18A905732A15
1,00068436-F919-E211-9DAA-005056B06EB4,D4FF9BBC-FBC1-E211-A980-005056B06EB4,490DB440-5FC7-E611-80E3-001DD8B72B62
2,0009A6E6-2369-E111-B43A-00505680000A,12787771-1A62-E111-8F14-00505680000A,37301718-F9C6-EC11-A7B6-000D3A497120
3,000D39CF-BE68-E111-B43A-00505680000A,1A787771-1A62-E111-8F14-00505680000A,791676C0-816B-E111-B98D-18A905732A15
4,0016CAE8-BD68-E111-B43A-00505680000A,20787771-1A62-E111-8F14-00505680000A,DB3A9AFC-816B-E111-B98D-18A905732A15

In [7]:
data_acc_acti.columns

Index(['account_activiteitscode_account',
       'account_activiteitscode_activiteitscode',
       'account_activiteitscode_inf_account_inf_activiteitscodeid'],
      dtype='object')

### Merge

In [11]:
merged_relation = data_acc_acti.merge(data_acti, left_on='account_activiteitscode_activiteitscode', right_on='activiteitscode_activiteitscode_id', how='inner')
merged_data = data_acc.merge(merged_relation, left_on='account_account_id', right_on='account_activiteitscode_account', how='inner')

In [12]:
merged_data.iloc[0]

account_account_id                                           00002DAC-0A69-E111-B43A-00505680000A
account_adres_geografische_regio                                                  Oost-Vlaanderen
account_adres_geografische_subregio                                                    Oudenaarde
account_adres_plaats                                                                       BEVERE
account_adres_postcode                                                                       9700
account_adres_provincie                                                           Oost-Vlaanderen
account_industriezone_naam_                                                               unknown
account_is_voka_entiteit                                                                        0
account_ondernemingsaard                                                                 Diensten
account_ondernemingstype                                                                  Bedrijf
account_oprichtingsdatum                                                                2-10-1989
account_primaire_activiteit                                          Overige industrie & diensten
account_reden_van_status                                                                   Actief
account_status                                                                                  1
account_voka_nr_                                                                           128093
account_adres_land                                                                         België
account_activiteitscode_account                              00002DAC-0A69-E111-B43A-00505680000A
account_activiteitscode_activiteitscode                      20787771-1A62-E111-8F14-00505680000A
account_activiteitscode_inf_account_inf_activiteitscodeid    2D780AA3-856B-E111-B98D-18A905732A15
activiteitscode_naam                                                 Overige industrie & diensten
activiteitscode_activiteitscode_id                           20787771-1A62-E111-8F14-00505680000A
activiteitscode_status                                                                     Actief
Name: 0, dtype: object

### Account financiele data.csv

In [14]:
data_acc_money = pd.read_csv('../data_clean/Account_financiële_data_fixed.csv', sep=",")
data_acc_money.head()

,financieledata_ondernemingid,financieledata_boekjaar,financieledata_aantal_maanden,financieledata_toegevoegde_waarde,financieledata_fte,financieledata_gewijzigd_op
0,00002DAC-0A69-E111-B43A-00505680000A,2007,-1.0,unknown,1,15-10-2018 08:21:37
1,00002DAC-0A69-E111-B43A-00505680000A,2008,-1.0,unknown,1,15-10-2018 13:20:45
2,00002DAC-0A69-E111-B43A-00505680000A,2009,-1.0,unknown,2,15-10-2018 04:00:52
3,00002DAC-0A69-E111-B43A-00505680000A,2010,12.0,unknown,1,15-10-2018 12:42:56
4,00002DAC-0A69-E111-B43A-00505680000A,2011,12.0,unknown,1,15-10-2018 04:54:28

In [15]:
merged_data = merged_data.merge(data_acc_money, left_on='account_account_id', right_on='financieledata_ondernemingid', how='inner')
merged_data.iloc[0]

account_account_id                                           00002DAC-0A69-E111-B43A-00505680000A
account_adres_geografische_regio                                                  Oost-Vlaanderen
account_adres_geografische_subregio                                                    Oudenaarde
account_adres_plaats                                                                       BEVERE
account_adres_postcode                                                                       9700
account_adres_provincie                                                           Oost-Vlaanderen
account_industriezone_naam_                                                               unknown
account_is_voka_entiteit                                                                        0
account_ondernemingsaard                                                                 Diensten
account_ondernemingstype                                                                  Bedrijf
account_oprichtingsdatum                                                                2-10-1989
account_primaire_activiteit                                          Overige industrie & diensten
account_reden_van_status                                                                   Actief
account_status                                                                                  1
account_voka_nr_                                                                           128093
account_adres_land                                                                         België
account_activiteitscode_account                              00002DAC-0A69-E111-B43A-00505680000A
account_activiteitscode_activiteitscode                      20787771-1A62-E111-8F14-00505680000A
account_activiteitscode_inf_account_inf_activiteitscodeid    2D780AA3-856B-E111-B98D-18A905732A15
activiteitscode_naam                                                 Overige industrie & diensten
activiteitscode_activiteitscode_id                           20787771-1A62-E111-8F14-00505680000A
activiteitscode_status                                                                     Actief
financieledata_ondernemingid                                 00002DAC-0A69-E111-B43A-00505680000A
financieledata_boekjaar                                                                      2007
financieledata_aantal_maanden                                                                -1.0
financieledata_toegevoegde_waarde                                                         unknown
financieledata_fte                                                                              1
financieledata_gewijzigd_op                                                   15-10-2018 08:21:37
Name: 0, dtype: object