In [1]:
import pandas as pd

### Account.csv

In [2]:
data_acc = pd.read_csv('../data/Account.csv', sep=",")
# rename data_acc columns
data_acc.rename(
    columns=
    {
        'crm_Account_Account': 'account_id', 
        'crm_Account_Adres_Geografische_regio': 'account_geografische_regio', 
        'crm_Account_Adres_Geografische_subregio': 'account_geografische_subregio', 
        'crm_Account_Adres_Plaats': 'account_plaats', 
        'crm_Account_Adres_Postcode': 'account_postcode',
        'crm_Account_Adres_Provincie': 'account_provincie',
        'crm_Account_Industriezone_Naam_': 'account_industriezone_naam',
        'crm_Account_Is_Voka_entiteit': 'account_is_voka_entiteit',
        'crm_Account_Ondernemingsaard': 'account_ondernemingsaard',
        'crm_Account_Ondernemingstype': 'account_ondernemingstype',
        'crm_Account_Oprichtingsdatum': 'account_oprichtingsdatum',
        'crm_Account_Primaire_activiteit': 'account_primaire_activiteit',
        'crm_Account_Reden_van_status': 'account_reden_van_status',
        'crm_Account_Status': 'account_status',
        'crm_Account_Voka_Nr_': 'account_voka_nr',
        'crm_Account_Hoofd_NaCe_Code': 'account_hoofd_nace_code',
        'crm_Account_Adres_Land': 'account_land',
    }, inplace=True)
data_acc.head()

,account_id,account_geografische_regio,account_geografische_subregio,account_plaats,account_postcode,account_provincie,account_industriezone_naam,account_is_voka_entiteit,account_ondernemingsaard,account_ondernemingstype,account_oprichtingsdatum,account_primaire_activiteit,account_reden_van_status,account_status,account_voka_nr,account_hoofd_nace_code,account_land
0,00002561-6762-EC11-8F8F-000D3A2E7738,Mechelen-Kempen,Kempen-West,Herentals,2200,Antwerpen,NaN,Nee,NaN,Bedrijf,8-9-2013,NaN,Actief,Actief,291484,NaN,België
1,00002DAC-0A69-E111-B43A-00505680000A,Oost-Vlaanderen,Oudenaarde,BEVERE,9700,Oost-Vlaanderen,NaN,Nee,Diensten,Bedrijf,2-10-1989,Overige industrie & diensten,Actief,Actief,128093,NaN,België
2,00002F96-DC68-E111-B43A-00505680000A,Limburg,Oost Limburg,KINROOI,3640,Limburg,NaN,Nee,NaN,Bedrijf,17-2-1999,NaN,Actief,Actief,166644,NaN,België
3,00005967-2959-E411-8F25-005056B06EB4,Vlaams-Brabant,Regio West Side,HALLE,1500,Vlaams-Brabant,NaN,Nee,NaN,Bedrijf,NaN,Financiële diensten,Inactief,Inactief,217534,NaN,België
4,00006DCD-DF68-E111-B43A-00505680000A,West-Vlaanderen,Roeselare/Tielt,EMELGEM,8870,West-Vlaanderen,NaN,Nee,NaN,Bedrijf,27-12-2001,Technologische industrie & diensten,Inactief,Inactief,81445,NaN,België

In [3]:
data_acc.columns

Index(['account_id', 'account_geografische_regio',
       'account_geografische_subregio', 'account_plaats', 'account_postcode',
       'account_provincie', 'account_industriezone_naam',
       'account_is_voka_entiteit', 'account_ondernemingsaard',
       'account_ondernemingstype', 'account_oprichtingsdatum',
       'account_primaire_activiteit', 'account_reden_van_status',
       'account_status', 'account_voka_nr', 'account_hoofd_nace_code',
       'account_land'],
      dtype='object')

### Activiteitscode.csv

In [4]:
data_acti = pd.read_csv('../data/Activiteitscode.csv', sep=",")
data_acti.rename(
    columns=
    {
        'crm_ActiviteitsCode_Naam': 'activiteitscode_naam', 
        'crm_ActiviteitsCode_Activiteitscode': 'activiteitscode_id',
        'crm_ActiviteitsCode_Status': 'activiteitscode_status',
    }, inplace=True)
data_acti.head()

,activiteitscode_naam,activiteitscode_id,activiteitscode_status
0,Accountancy & boekhouding,7D8F7E6B-1A62-E111-8F14-00505680000A,Actief
1,Agrarische & bio-industrie,808F7E6B-1A62-E111-8F14-00505680000A,Actief
2,Automobiel- en Tweewielerindustrie,828F7E6B-1A62-E111-8F14-00505680000A,Actief
3,Bouw,858F7E6B-1A62-E111-8F14-00505680000A,Actief
4,"Chemie, petrochemie",878F7E6B-1A62-E111-8F14-00505680000A,Actief

In [5]:
data_acti.columns

Index(['activiteitscode_naam', 'activiteitscode_id', 'activiteitscode_status'], dtype='object')

### Account activiteitscode.csv

In [6]:
data_acc_acti = pd.read_csv('../data/Account activiteitscode.csv', sep=",")
data_acc_acti.dropna(inplace=True)
data_acc_acti.reset_index(drop=True, inplace=True)
data_acc_acti.rename(
    columns=
    {
        'crm_Account_ActiviteitsCode_Account': 'account_id', 
        'crm_Account_ActiviteitsCode_Activiteitscode': 'activiteitscode_id',
        'crm_Account_ActiviteitsCode_inf_account_inf_activiteitscodeId': 'account_activiteitscode_id',
    }, inplace=True)
data_acc_acti.head()

,account_id,activiteitscode_id,account_activiteitscode_id
0,00002DAC-0A69-E111-B43A-00505680000A,20787771-1A62-E111-8F14-00505680000A,2D780AA3-856B-E111-B98D-18A905732A15
1,00068436-F919-E211-9DAA-005056B06EB4,D4FF9BBC-FBC1-E211-A980-005056B06EB4,490DB440-5FC7-E611-80E3-001DD8B72B62
2,0009A6E6-2369-E111-B43A-00505680000A,12787771-1A62-E111-8F14-00505680000A,37301718-F9C6-EC11-A7B6-000D3A497120
3,000D39CF-BE68-E111-B43A-00505680000A,1A787771-1A62-E111-8F14-00505680000A,791676C0-816B-E111-B98D-18A905732A15
4,0016CAE8-BD68-E111-B43A-00505680000A,20787771-1A62-E111-8F14-00505680000A,DB3A9AFC-816B-E111-B98D-18A905732A15

In [7]:
data_acc_acti.columns

Index(['account_id', 'activiteitscode_id', 'account_activiteitscode_id'], dtype='object')

### Merge

In [8]:
merged_relation = data_acc_acti.merge(data_acti, on='activiteitscode_id', how='inner')

merged_data = data_acc.merge(merged_relation, on='account_id', how='inner')

In [9]:
merged_data.iloc[0]

account_id                       00002DAC-0A69-E111-B43A-00505680000A
account_geografische_regio                            Oost-Vlaanderen
account_geografische_subregio                              Oudenaarde
account_plaats                                                 BEVERE
account_postcode                                                 9700
account_provincie                                     Oost-Vlaanderen
account_industriezone_naam                                        NaN
account_is_voka_entiteit                                          Nee
account_ondernemingsaard                                     Diensten
account_ondernemingstype                                      Bedrijf
account_oprichtingsdatum                                    2-10-1989
account_primaire_activiteit              Overige industrie & diensten
account_reden_van_status                                       Actief
account_status                                                 Actief
account_voka_nr                                                128093
account_hoofd_nace_code                                           NaN
account_land                                                   België
activiteitscode_id               20787771-1A62-E111-8F14-00505680000A
account_activiteitscode_id       2D780AA3-856B-E111-B98D-18A905732A15
activiteitscode_naam                     Overige industrie & diensten
activiteitscode_status                                         Actief
Name: 0, dtype: object

#### Groeperen op account_id

In [10]:
merged_data[merged_data.duplicated(['account_id'], keep=False)].sort_values(by=['account_id']).head(6)

,account_id,account_geografische_regio,account_geografische_subregio,account_plaats,account_postcode,account_provincie,account_industriezone_naam,account_is_voka_entiteit,account_ondernemingsaard,account_ondernemingstype,...,account_primaire_activiteit,account_reden_van_status,account_status,account_voka_nr,account_hoofd_nace_code,account_land,activiteitscode_id,account_activiteitscode_id,activiteitscode_naam,activiteitscode_status
5,00181B4A-2769-E111-B43A-00505680000A,Antwerpen-Waasland,Antwerpen,WILRIJK,2610,Antwerpen,NaN,Nee,NaN,Bedrijf,...,Groothandel,Actief,Actief,97032,NaN,België,828F7E6B-1A62-E111-8F14-00505680000A,43650D7E-66BC-E611-80E3-001DD8B72B62,Automobiel- en Tweewielerindustrie,Actief
6,00181B4A-2769-E111-B43A-00505680000A,Antwerpen-Waasland,Antwerpen,WILRIJK,2610,Antwerpen,NaN,Nee,NaN,Bedrijf,...,Groothandel,Actief,Actief,97032,NaN,België,AC393BCE-FBC1-E211-A980-005056B06EB4,48650D7E-66BC-E611-80E3-001DD8B72B62,Detailhandel,Actief
7,001AAE43-BE68-E111-B43A-00505680000A,Vlaams-Brabant,Regio Noord-Rand,Machelen (Vl.Br.),1830,Vlaams-Brabant,NaN,Nee,Diensten,Bedrijf,...,Financiële diensten,Actief,Actief,16482,NaN,België,20787771-1A62-E111-8F14-00505680000A,C7917EB4-816B-E111-B98D-18A905732A15,Overige industrie & diensten,Actief
8,001AAE43-BE68-E111-B43A-00505680000A,Vlaams-Brabant,Regio Noord-Rand,Machelen (Vl.Br.),1830,Vlaams-Brabant,NaN,Nee,Diensten,Bedrijf,...,Financiële diensten,Actief,Actief,16482,NaN,België,828F7E6B-1A62-E111-8F14-00505680000A,096C51CB-3A35-EB11-8118-001DD8B72B62,Automobiel- en Tweewielerindustrie,Actief
18,004936CE-3469-E111-B43A-00505680000A,Vlaams-Brabant,Regio Noord-Rand,Machelen (Vl.Br.),1830,Vlaams-Brabant,NaN,Nee,Productie,Bedrijf,...,Bouw,Actief,Actief,159951,NaN,België,858F7E6B-1A62-E111-8F14-00505680000A,5EBB6C0A-2F71-EB11-8119-001DD8B72B61,Bouw,Actief
19,004936CE-3469-E111-B43A-00505680000A,Vlaams-Brabant,Regio Noord-Rand,Machelen (Vl.Br.),1830,Vlaams-Brabant,NaN,Nee,Productie,Bedrijf,...,Bouw,Actief,Actief,159951,NaN,België,898F7E6B-1A62-E111-8F14-00505680000A,8B5DBC25-2F71-EB11-8119-001DD8B72B61,"Distributie, logistiek en transport",Actief

Bij het account_id hieronder gebruikt -> niet veel verschil behalve [activiteitscode_id, account_activiteitscode_id, activiteitscode_naam]

In [11]:
merged_data[merged_data['account_id'] == '00181B4A-2769-E111-B43A-00505680000A'].iloc[0]

account_id                       00181B4A-2769-E111-B43A-00505680000A
account_geografische_regio                         Antwerpen-Waasland
account_geografische_subregio                               Antwerpen
account_plaats                                                WILRIJK
account_postcode                                                 2610
account_provincie                                           Antwerpen
account_industriezone_naam                                        NaN
account_is_voka_entiteit                                          Nee
account_ondernemingsaard                                          NaN
account_ondernemingstype                                      Bedrijf
account_oprichtingsdatum                                   19-12-2000
account_primaire_activiteit                               Groothandel
account_reden_van_status                                       Actief
account_status                                                 Actief
account_voka_nr                                                 97032
account_hoofd_nace_code                                           NaN
account_land                                                   België
activiteitscode_id               828F7E6B-1A62-E111-8F14-00505680000A
account_activiteitscode_id       43650D7E-66BC-E611-80E3-001DD8B72B62
activiteitscode_naam               Automobiel- en Tweewielerindustrie
activiteitscode_status                                         Actief
Name: 5, dtype: object

In [12]:
merged_data[merged_data['account_id'] == '00181B4A-2769-E111-B43A-00505680000A'].iloc[1]

account_id                       00181B4A-2769-E111-B43A-00505680000A
account_geografische_regio                         Antwerpen-Waasland
account_geografische_subregio                               Antwerpen
account_plaats                                                WILRIJK
account_postcode                                                 2610
account_provincie                                           Antwerpen
account_industriezone_naam                                        NaN
account_is_voka_entiteit                                          Nee
account_ondernemingsaard                                          NaN
account_ondernemingstype                                      Bedrijf
account_oprichtingsdatum                                   19-12-2000
account_primaire_activiteit                               Groothandel
account_reden_van_status                                       Actief
account_status                                                 Actief
account_voka_nr                                                 97032
account_hoofd_nace_code                                           NaN
account_land                                                   België
activiteitscode_id               AC393BCE-FBC1-E211-A980-005056B06EB4
account_activiteitscode_id       48650D7E-66BC-E611-80E3-001DD8B72B62
activiteitscode_naam                                     Detailhandel
activiteitscode_status                                         Actief
Name: 6, dtype: object

In [13]:
merged_data[merged_data['account_id'] == '00002DAC-0A69-E111-B43A-00505680000A']

,account_id,account_geografische_regio,account_geografische_subregio,account_plaats,account_postcode,account_provincie,account_industriezone_naam,account_is_voka_entiteit,account_ondernemingsaard,account_ondernemingstype,...,account_primaire_activiteit,account_reden_van_status,account_status,account_voka_nr,account_hoofd_nace_code,account_land,activiteitscode_id,account_activiteitscode_id,activiteitscode_naam,activiteitscode_status
0,00002DAC-0A69-E111-B43A-00505680000A,Oost-Vlaanderen,Oudenaarde,BEVERE,9700,Oost-Vlaanderen,NaN,Nee,Diensten,Bedrijf,...,Overige industrie & diensten,Actief,Actief,128093,NaN,België,20787771-1A62-E111-8F14-00505680000A,2D780AA3-856B-E111-B98D-18A905732A15,Overige industrie & diensten,Actief

### Account financiele data.csv

In [16]:
data_acc_money = pd.read_csv('../data/Account financiële data.csv', sep=",")
data_acc_money.rename(
    columns={
        'crm_FinancieleData_OndernemingID': 'account_id',
        'crm_FinancieleData_Boekjaar': 'account_financieledata_boekjaar',
        'crm_FinancieleData_Aantal_maanden': 'account_financieledata_aantal_maanden',
        'crm_FinancieleData_Toegevoegde_waarde': 'account_financieledata_toegevoegde_waarde',
        'crm_FinancieleData_FTE': 'account_financieledata_fte',
        'crm_FinancieleData_Gewijzigd_op': 'account_financieledata_gewijzigd_op',
    }, inplace=True
)
data_acc_money.head()

,account_id,account_financieledata_boekjaar,account_financieledata_aantal_maanden,account_financieledata_toegevoegde_waarde,account_financieledata_fte,account_financieledata_gewijzigd_op
0,00002DAC-0A69-E111-B43A-00505680000A,2007,NaN,NaN,1,15-10-2018 08:21:37
1,00002DAC-0A69-E111-B43A-00505680000A,2008,NaN,NaN,1,15-10-2018 13:20:45
2,00002DAC-0A69-E111-B43A-00505680000A,2009,NaN,NaN,2,15-10-2018 04:00:52
3,00002DAC-0A69-E111-B43A-00505680000A,2010,12.0,NaN,1,15-10-2018 12:42:56
4,00002DAC-0A69-E111-B43A-00505680000A,2011,12.0,NaN,1,15-10-2018 04:54:28