In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

### Account cleanen

In [3]:
df_account = pd.read_csv('../data_clean/Account_fixed.csv')

# alleen de actieve accounts
df_account = df_account[df_account['account_reden_van_status'] != 'Inactief']
df_account = df_account[df_account['account_reden_van_status'] != 'Stopzetting']

# onnodige kolommen verwijderen
df_account.drop(['account_industriezone_naam_',
           'account_oprichtingsdatum',
           'account_reden_van_status',
           'account_status',
           'account_voka_nr_',
           'account_is_voka_entiteit',
], axis=1, inplace=True)

# alleen de accounts uit Oost-Vlaanderen
df_account = df_account[df_account['account_adres_provincie'] == 'Oost-Vlaanderen']

# account adres samenvoegen
plaats = df_account['account_adres_plaats'].str.lower().str.capitalize()
postcode = df_account['account_adres_postcode'].astype(str)
subregio = df_account['account_adres_geografische_subregio'].str.lower().str.capitalize()
provincie = df_account['account_adres_provincie'].str.lower().str.capitalize()
land = df_account['account_adres_land'].str.lower().str.capitalize()

df_account['account_adres'] = plaats + ' ' + postcode + ' ' + subregio + ' ' + provincie + ' ' + land

df_account.drop(['account_adres_geografische_regio', 
           'account_adres_geografische_subregio', 
           'account_adres_plaats', 'account_adres_postcode', 
           'account_adres_provincie', 'account_adres_land'], axis=1, inplace=True)

# account ondernemingstype samenvoegen
df_account['account_onderneming'] = df_account['account_ondernemingstype'] + ', ' \
                            + df_account['account_ondernemingsaard'] + ', ' \
                            + df_account['account_primaire_activiteit'] + ' ' \

df_account.drop(['account_ondernemingstype', 
           'account_ondernemingsaard', 
           'account_primaire_activiteit'], axis=1, inplace=True)

# account ondernemingstype strings opschonen
df_account['account_onderneming'] = df_account['account_onderneming'].str.replace('unknown', '')
df_account['account_onderneming'] = df_account['account_onderneming'].str.strip()
df_account['account_onderneming'] = df_account['account_onderneming'].str.lower().str.capitalize()

df_account.shape

(41859, 3)

### Contact cleanen

In [4]:
df_contact = pd.read_csv('../data_clean/Contact_fixed.csv')

df_contact = df_contact[df_contact['contact_status'] != 'Inactief']
df_contact.drop(['contact_status', 'contact_voka_medewerker'], axis=1, inplace=True)

df_contact.shape

(393514, 4)

### Mergen van Account en Contact zodat alleen de contacten van Oost-Vlaanderen overblijven

Inner join, anders 11000 accounts zonder contactpersoon

In [5]:
df_account_contact = df_account.merge(df_contact, left_on='account_account_id', right_on='contact_account', how='inner')
df_account_contact.drop(['contact_account'], axis=1, inplace=True)
df_account_contact.shape

(67299, 6)

##### Persoon cleanen

In [6]:
# df_persoon = pd.read_csv('../data_clean/Persoon_fixed.csv')

# df_persoon = df_persoon[df_persoon['persoon_mail_regio_oost_vlaanderen'] == 1]
# df_persoon = df_persoon[df_persoon['persoon_reden_van_status'] == 'Actief']

# for col in df_persoon.columns:
#     if col.__contains__('persoon_mail_regio'):
#         df_persoon.drop(col, axis=1, inplace=True)

# df_persoon.drop(['persoon_persoonsnr_', 'persoon_web_login', 'persoon_reden_van_status'], axis=1, inplace=True)

# df_persoon.shape

### Account_contact mergen met persoon

In [7]:
# df_account_contact_persoon = df_account_contact.merge(df_persoon, left_on='contact_persoon_id', right_on='persoon_persoon_id', how='left')
# df_account_contact_persoon.drop(['contact_persoon_id'], axis=1, inplace=True)
# df_account_contact_persoon.shape

In [8]:
# df_account_contact_persoon.info()

##### Persoon niet meer gebruiken -> maar 4374 non-null

In [9]:
df_account_contact.drop(['contact_persoon_id'], axis=1, inplace=True)

### Account_contact mergen met contactfunctie en functie

In [10]:
df_contact_functie = pd.read_csv('../data_clean/Contact_functie_fixed.csv')
df_contact_functie.columns

Index(['contactfunctie_contactpersoon', 'contactfunctie_functie'], dtype='object')

In [11]:
df_functie = pd.read_csv('../data_clean/Functie_fixed.csv')
df_functie.columns

Index(['functie_functie_id', 'functie_naam'], dtype='object')

Merge contact functie

In [12]:
df_account_contact = df_account_contact.merge(df_contact_functie, left_on='contact_contactpersoon_id', right_on='contactfunctie_contactpersoon', how='inner')
df_account_contact.drop(['contactfunctie_contactpersoon'], axis=1, inplace=True)
df_account_contact.shape

(90938, 6)

Merge met functie

In [13]:
df_account_contact = df_account_contact.merge(df_functie, left_on='contactfunctie_functie', right_on='functie_functie_id', how='inner')
df_account_contact.drop(['contactfunctie_functie', 'functie_functie_id'], axis=1, inplace=True)
df_account_contact.shape

(90938, 6)

##### Functie naam kan verschillend zijn voor hetzelfde contact, dus die mergen we

In [14]:
# Define a custom aggregation function to merge 'functie_naam'
def merge_functie_naam(series):
    return ', '.join(series)

# Group by 'account_account_id' and 'contact_contactpersoon_id' and merge 'functie_naam'
df_account_contact = df_account_contact.groupby(
    ['account_account_id', 'contact_contactpersoon_id'], 
    as_index=False).agg({'functie_naam': merge_functie_naam, 
                         **{col: 'first' for col in df_account_contact.columns if col != 'functie_naam'}})

df_account_contact.shape

(67225, 6)

### Account_contact mergen met account_activiteitscode en activiteitscode

In [15]:
df_account_activiteitscode = pd.read_csv('../data_clean/Account_activiteitscode_fixed.csv')
print(df_account_activiteitscode.shape)
df_account_activiteitscode.columns

(14673, 3)

Index(['account_activiteitscode_account',
       'account_activiteitscode_activiteitscode',
       'account_activiteitscode_inf_account_inf_activiteitscodeid'],
      dtype='object')

In [16]:
df_activiteitscode = pd.read_csv('../data_clean/Activiteitscode_fixed.csv')
print(df_activiteitscode.shape)
df_activiteitscode.columns

(40, 3)

Index(['activiteitscode_naam', 'activiteitscode_activiteitscode_id',
       'activiteitscode_status'],
      dtype='object')

account_activiteitscode mergen met activiteitscode

In [17]:
df_activiteit = df_account_activiteitscode.merge(df_activiteitscode, left_on='account_activiteitscode_activiteitscode', right_on='activiteitscode_activiteitscode_id', how='inner')
df_activiteit = df_activiteit[df_activiteit['activiteitscode_status'] == 'Actief']
df_activiteit.drop(['account_activiteitscode_activiteitscode', 'activiteitscode_activiteitscode_id', 'activiteitscode_status', 'account_activiteitscode_inf_account_inf_activiteitscodeid'], axis=1, inplace=True)
df_activiteit.shape

(14665, 2)

activiteitscode naam combineren waar account niet uniek is

In [18]:
# where account_activiteitscode_account is not unique, combine the activiteitscode_naam
def merge_activiteitscode_naam(series):
    return ', '.join(series)

df_activiteit = df_activiteit.groupby(
    ['account_activiteitscode_account'], 
    as_index=False).agg({'activiteitscode_naam': merge_activiteitscode_naam, 
                         **{col: 'first' for col in df_activiteit.columns if col != 'activiteitscode_naam'}})

print(df_activiteit.shape)

df_activiteit.head()

(13408, 2)

                  activiteitscode_naam       account_activiteitscode_account
0         Overige industrie & diensten  00002DAC-0A69-E111-B43A-00505680000A
1                          Consultancy  00068436-F919-E211-9DAA-005056B06EB4
2  Technologische industrie & diensten  0009A6E6-2369-E111-B43A-00505680000A
3                              Voeding  000D39CF-BE68-E111-B43A-00505680000A
4         Overige industrie & diensten  0016CAE8-BD68-E111-B43A-00505680000A

mergen met account_contact

In [19]:
df_account_contact = df_account_contact.merge(df_activiteit, left_on='account_account_id', right_on='account_activiteitscode_account', how='left')
df_account_contact.drop(['account_activiteitscode_account'], axis=1, inplace=True)
df_account_contact.shape

(67225, 7)

#####  Maar 16160 vd 67225 activiteitscodes zijn non-null

In [20]:
df_account_contact.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67225 entries, 0 to 67224
Data columns (total 7 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   functie_naam               67225 non-null  object
 1   account_account_id         67225 non-null  object
 2   account_adres              67225 non-null  object
 3   account_onderneming        67225 non-null  object
 4   contact_contactpersoon_id  67225 non-null  object
 5   contact_functietitel       67225 non-null  object
 6   activiteitscode_naam       16160 non-null  object
dtypes: object(7)
memory usage: 3.6+ MB

### Account financiele data mergen met account_contact

In [21]:
df_account_financieel = pd.read_csv('../data_clean/Account_financiële_data_fixed.csv', sep=',')
df_account_financieel.drop(['financieledata_gewijzigd_op', 'financieledata_fte', 'financieledata_aantal_maanden'], axis=1, inplace=True)
df_account_financieel['financieledata_toegevoegde_waarde'] = df_account_financieel['financieledata_toegevoegde_waarde'].astype(str)

print(df_account_financieel.shape)
df_account_financieel.columns

(2030180, 3)

Index(['financieledata_ondernemingid', 'financieledata_boekjaar',
       'financieledata_toegevoegde_waarde'],
      dtype='object')

In [22]:
df_account_financieel.head(10)

,financieledata_ondernemingid,financieledata_boekjaar,financieledata_toegevoegde_waarde
0,00002DAC-0A69-E111-B43A-00505680000A,2007,unknown
1,00002DAC-0A69-E111-B43A-00505680000A,2008,unknown
2,00002DAC-0A69-E111-B43A-00505680000A,2009,unknown
3,00002DAC-0A69-E111-B43A-00505680000A,2010,unknown
4,00002DAC-0A69-E111-B43A-00505680000A,2011,unknown
5,00002DAC-0A69-E111-B43A-00505680000A,2012,unknown
6,00002DAC-0A69-E111-B43A-00505680000A,2013,69164
7,00002DAC-0A69-E111-B43A-00505680000A,2014,46718
8,00002DAC-0A69-E111-B43A-00505680000A,2015,23551
9,00002DAC-0A69-E111-B43A-00505680000A,2016,65481

In [23]:
df_account_contact_finance = df_account_contact.merge(df_account_financieel, left_on='account_account_id', right_on='financieledata_ondernemingid', how='left')
df_account_contact_finance.drop(['financieledata_ondernemingid'], axis=1, inplace=True)
df_account_contact_finance.shape

(687078, 9)

In [24]:
df_account_contact_finance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 687078 entries, 0 to 687077
Data columns (total 9 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   functie_naam                       687078 non-null  object
 1   account_account_id                 687078 non-null  object
 2   account_adres                      687078 non-null  object
 3   account_onderneming                687078 non-null  object
 4   contact_contactpersoon_id          687078 non-null  object
 5   contact_functietitel               687078 non-null  object
 6   activiteitscode_naam               237628 non-null  object
 7   financieledata_boekjaar            670924 non-null  float64
 8   financieledata_toegevoegde_waarde  670924 non-null  object
dtypes: float64(1), object(8)
memory usage: 47.2+ MB

In [25]:
# turn financieledata_toegevoegde_waarde into a numeric value
df_account_contact_finance['financieledata_toegevoegde_waarde'] = df_account_contact_finance['financieledata_toegevoegde_waarde'].str.replace(',', '.')
df_account_contact_finance['financieledata_toegevoegde_waarde'] = df_account_contact_finance['financieledata_toegevoegde_waarde'].str.replace('unknown', '0')
df_account_contact_finance['financieledata_toegevoegde_waarde'] = df_account_contact_finance['financieledata_toegevoegde_waarde'].astype(float)

##### De financieel toegevoegde waarde optellen per account en de boekjaren hun range gebruiken (vb 2007 - 2022 => 15 jaar)

In [26]:
# group by 'account_account_id' and 'contact_contactpersoon_id' and merge 'financieledata_toegevoegde_waarde' by sum and 'financieledata_boekjaar' by max - min
df_account_contact_finance = df_account_contact_finance.groupby(
    ['account_account_id', 'contact_contactpersoon_id'], 
    as_index=False).agg({'financieledata_toegevoegde_waarde': 'sum', 
                         'financieledata_boekjaar': lambda x: x.max() - x.min(), 
                         **{col: 'first' for col in df_account_contact_finance.columns if col not in ['financieledata_toegevoegde_waarde', 'financieledata_boekjaar']}})

df_account_contact_finance.rename(columns={'financieledata_boekjaar': 'financieledata_boekjaar_range'}, inplace=True)

In [27]:
df_account_contact_finance.shape

(67225, 9)

##### Alle niet meer benodigde dataframes verwijderen

In [28]:
try:
    del df_account
    del df_contact
    del df_contact_functie
    del df_functie
    del df_account_financieel
    del df_account_contact
except:
    print('already deleted or non-existent')

### Afspraken cleanen en mergen

In [29]:
df_afspraak_acc_gelinkt = pd.read_csv('../data_clean/Afspraak_account_gelinkt_cleaned_fixed.csv', sep=',')
print(df_afspraak_acc_gelinkt.shape)
print(list(df_afspraak_acc_gelinkt.columns))
df_afspraak_acc_gelinkt.drop(['afspraak_account_gelinkt_account'], axis=1, inplace=True)

(2934, 7)
['afspraak_account_gelinkt_afspraak_id', 'afspraak_account_gelinkt_thema', 'afspraak_account_gelinkt_subthema', 'afspraak_account_gelinkt_onderwerp', 'afspraak_account_gelinkt_eindtijd', 'afspraak_account_gelinkt_account', 'afspraak_account_gelinkt_keyphrases']

In [30]:
df_afspraak_betreft_acc = pd.read_csv('../data_clean/Afspraak_betreft_account_cleaned_fixed.csv', sep=',')
print(df_afspraak_betreft_acc.shape)
print(list(df_afspraak_betreft_acc.columns))
df_afspraak_betreft_acc.drop(['afspraak_betreft_account_betreft_id'], axis=1, inplace=True)

(4876, 7)
['afspraak_betreft_account_afspraak_id', 'afspraak_betreft_account_thema', 'afspraak_betreft_account_subthema', 'afspraak_betreft_account_onderwerp', 'afspraak_betreft_account_betreft_id', 'afspraak_betreft_account_eindtijd', 'afspraak_betreft_account_keyphrases']

In [31]:
df_afspraak_betreft_contact = pd.read_csv('../data_clean/Afspraak_betreft_contact_cleaned_fixed.csv', sep=',')
print(df_afspraak_betreft_contact.shape)
print(list(df_afspraak_betreft_contact.columns))
df_afspraak_betreft_contact.drop(['afspraak_betreft_contactfiche_betreft_id'], axis=1, inplace=True)

(2552, 7)
['afspraak_betreft_contactfiche_afspraak_id', 'afspraak_betreft_contactfiche_thema', 'afspraak_betreft_contactfiche_subthema', 'afspraak_betreft_contactfiche_onderwerp', 'afspraak_betreft_contactfiche_betreft_id', 'afspraak_betreft_contactfiche_eindtijd', 'afspraak_betreft_contactfiche_keyphrases']

##### Kolomnamen hernoemen en afspraakt_betreft toevoegen (betreft account = 1, betreft contact = 0)

In [32]:
df_afspraak_acc_gelinkt.columns = ['afspraak_afspraak_id', 'afspraak_thema', 'afspraak_subthema', 'afspraak_onderwerp', 'afspraak_eindtijd', 'afspraak_keyphrases']
df_afspraak_betreft_acc.columns = ['afspraak_afspraak_id', 'afspraak_thema', 'afspraak_subthema', 'afspraak_onderwerp', 'afspraak_eindtijd', 'afspraak_keyphrases']
df_afspraak_betreft_contact.columns = ['afspraak_afspraak_id', 'afspraak_thema', 'afspraak_subthema', 'afspraak_onderwerp', 'afspraak_eindtijd', 'afspraak_keyphrases']

df_afspraak_betreft_acc["afspraak_betreft"] = 1
df_afspraak_acc_gelinkt["afspraak_betreft"] = 1
df_afspraak_betreft_contact["afspraak_betreft"] = 0

In [33]:
acc_gelinkt_id_list = df_afspraak_acc_gelinkt['afspraak_afspraak_id'].unique()
acc_gelinkt_id_list.shape

(2934,)

##### Afspraken mergen en al cleanen

In [34]:
df_afspraken = pd.concat([df_afspraak_betreft_acc, df_afspraak_acc_gelinkt, df_afspraak_betreft_contact], ignore_index=True)
df_afspraken.drop_duplicates(inplace=True)
print(df_afspraken.shape)
print(list(df_afspraken.columns))

(9685, 7)
['afspraak_afspraak_id', 'afspraak_thema', 'afspraak_subthema', 'afspraak_onderwerp', 'afspraak_eindtijd', 'afspraak_keyphrases', 'afspraak_betreft']

In [35]:
df_afspraak_alle = pd.read_csv('../data_clean/Afspraak_alle_fixed.csv', sep=',')
print(df_afspraak_alle.shape)
print(list(df_afspraak_alle.columns))
df_afspraak_alle['afspraak_alle_afspraak_id'].nunique()

(8265, 1)
['afspraak_alle_afspraak_id']

8265

In [36]:
df_afspraken = df_afspraken.merge(df_afspraak_alle, left_on='afspraak_afspraak_id', right_on='afspraak_alle_afspraak_id', how='inner')

df_afspraken['afspraak_thema'] = df_afspraken['afspraak_subthema'].str.replace('\(', '', regex=True)
df_afspraken['afspraak_thema'] = df_afspraken['afspraak_thema'].str.replace('\)', '', regex=True)

df_afspraken['afspraak_onderwerp'] = df_afspraken['afspraak_onderwerp'].str.lower().str.capitalize()
df_afspraken['afspraak_onderwerp'] = df_afspraken['afspraak_onderwerp'].str.replace(' ', '-')
df_afspraken['afspraak_onderwerp'] = df_afspraken['afspraak_onderwerp'].astype(str)

df_afspraken.drop(['afspraak_alle_afspraak_id', 'afspraak_eindtijd', 'afspraak_subthema'], axis=1, inplace=True)

df_afspraken.drop_duplicates(inplace=True)

print(df_afspraken.shape)
print(df_afspraken.columns)

(9678, 5)
Index(['afspraak_afspraak_id', 'afspraak_thema', 'afspraak_onderwerp',
       'afspraak_keyphrases', 'afspraak_betreft'],
      dtype='object')

In [37]:
df_afspraken['afspraak_afspraak_id'].nunique()

7624

##### Waar afspraak_betreft 0 en 1 is maken we er 2 van

In [38]:
# show rows where afspraak_afspraak_id is not unique
list_to_change_afspraak_betreft_to_2 = df_afspraken[df_afspraken['afspraak_afspraak_id'].duplicated(keep=False)]['afspraak_afspraak_id'].unique()

# for every afspraak_afspraak_id that is not unique, change afspraak_betreft to 2
for afspraak_id in list_to_change_afspraak_betreft_to_2:
    df_afspraken.loc[df_afspraken['afspraak_afspraak_id'] == afspraak_id, 'afspraak_betreft'] = 2

df_afspraken.drop_duplicates(inplace=True)
df_afspraken.shape

(7624, 5)

##### Acc_gelinkt = 1 anders 0 -> adhv acc_gelinkt_id_list

In [39]:
for afspraak_id in acc_gelinkt_id_list:
    df_afspraken.loc[df_afspraken['afspraak_afspraak_id'] == afspraak_id, 'afspraak_account_gelinkt'] = 1

df_afspraken['afspraak_account_gelinkt'].fillna(0, inplace=True)

In [40]:
df_afspraken.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7624 entries, 0 to 9684
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   afspraak_afspraak_id      7624 non-null   object
 1   afspraak_thema            7624 non-null   object
 2   afspraak_onderwerp        7624 non-null   object
 3   afspraak_keyphrases       7624 non-null   object
 4   afspraak_betreft          7624 non-null   int64
 5   afspraak_account_gelinkt  7624 non-null   float64
dtypes: float64(1), int64(1), object(4)
memory usage: 416.9+ KB

##### Nu nog mergen met activiteit_vereist_contact

In [41]:
df_activiteit_vereist_contact = pd.read_csv('../data_clean/Activiteit_vereist_contact_fixed.csv', sep=',')
print(df_activiteit_vereist_contact.shape)
print(list(df_activiteit_vereist_contact.columns))
df_activiteit_vereist_contact['activiteitvereistcontact_reqattendee'].nunique()

(4635, 2)
['activiteitvereistcontact_activityid_id', 'activiteitvereistcontact_reqattendee']

3042

In [42]:
df_afspraken_total = df_afspraken.merge(df_activiteit_vereist_contact, left_on='afspraak_afspraak_id', right_on='activiteitvereistcontact_activityid_id', how='inner')
df_afspraken_total.drop(['activiteitvereistcontact_activityid_id', 'afspraak_afspraak_id'], axis=1, inplace=True)
df_afspraken_total.shape

(4545, 6)

In [43]:
df_afspraken_total.isna().sum()

afspraak_thema                          0
afspraak_onderwerp                      0
afspraak_keyphrases                     0
afspraak_betreft                        0
afspraak_account_gelinkt                0
activiteitvereistcontact_reqattendee    0
dtype: int64

In [44]:
df_afspraken_total.head()

,afspraak_thema,afspraak_onderwerp,afspraak_keyphrases,afspraak_betreft,afspraak_account_gelinkt,activiteitvereistcontact_reqattendee
0,Retentie Lidmaatschap,Ov-ledenbezoek-2020,"china en india , india en china , verschillend...",1,0.0,8E214B8E-F6B8-E911-8104-001DD8B72B62
1,Retentie Lidmaatschap,Ov-klantenbezoek-2018,"zoek , schap",1,0.0,C3B119F3-8502-E911-80F9-001DD8B72B61
2,Retentie Lidmaatschap,Ov-ledenbezoek-2020,"dominique de waele , essentiële sector , gedee...",1,0.0,0CC2FFFC-C56A-E111-B43A-00505680000A
3,Retentie Lidmaatschap,Ov-ledenbezoek-2020,"andere thema ’s , jan dumont , innovatief bedr...",1,0.0,316D6097-E3A8-E711-80EC-001DD8B72B62
4,Retentie Lidmaatschap,Ov-telefoon-2020,"verschillende industriën , verschillende werkg...",1,0.0,1DCF0AC3-D273-E111-B43A-00505680000A

In [45]:
df_afspraken_total.shape

(4545, 6)

Alle niet benodigde dataframes verwijderen

In [46]:
try:
    del df_afspraak_acc_gelinkt
    del df_afspraak_betreft_acc
    del df_afspraak_betreft_contact
    del df_afspraak_alle
    del df_afspraken
    del df_activiteit_vereist_contact
except:
    print('already deleted or non-existent')

### Account en Afspraken mergen

In [47]:
acc_afs_merged = df_account_contact_finance.merge(df_afspraken_total, left_on=['contact_contactpersoon_id'], right_on=['activiteitvereistcontact_reqattendee'], how='left')
acc_afs_merged.drop(['activiteitvereistcontact_reqattendee', 'account_account_id'], axis=1, inplace=True)
acc_afs_merged.shape

(68618, 13)

NaN opvullen

In [48]:
acc_afs_merged['financieledata_boekjaar_range'].fillna(0, inplace=True)
acc_afs_merged['afspraak_betreft'].fillna(-1, inplace=True)
acc_afs_merged['afspraak_account_gelinkt'].fillna(-1, inplace=True)

In [49]:
acc_afs_merged['activiteitscode_naam'].fillna('unknown', inplace=True)
acc_afs_merged['afspraak_thema'].fillna('unknown', inplace=True)
acc_afs_merged['afspraak_onderwerp'].fillna('unknown', inplace=True)
acc_afs_merged['afspraak_keyphrases'].fillna('unknown', inplace=True)

Alle string columns van Afspraak samenvoegen

In [50]:
# combine 'afspraak_thema', 'afspraak_onderwerp', 'afspraak_keyphrases' into one column
acc_afs_merged['afspraak_thema'] = acc_afs_merged['afspraak_thema'].astype(str)
acc_afs_merged['afspraak_onderwerp'] = acc_afs_merged['afspraak_onderwerp'].astype(str)
acc_afs_merged['afspraak_keyphrases'] = acc_afs_merged['afspraak_keyphrases'].astype(str)

replacement_dict = {'\(': '', '\)': '', '\'': '', '\"': '', '\[': '', '\]': ''}

acc_afs_merged['afspraak_keyphrases'] = acc_afs_merged['afspraak_keyphrases'].replace(replacement_dict, regex=True)

In [51]:
acc_afs_merged['afspraak_keyphrases'] = acc_afs_merged['afspraak_thema'] + ', ' + acc_afs_merged['afspraak_onderwerp'] + ', ' + acc_afs_merged['afspraak_keyphrases']
acc_afs_merged['afspraak_keyphrases'] = acc_afs_merged['afspraak_keyphrases'].str.replace('unknown, ', '')
acc_afs_merged['afspraak_keyphrases'] = acc_afs_merged['afspraak_keyphrases'].str.replace(', unknown', '')
acc_afs_merged.drop(['afspraak_thema', 'afspraak_onderwerp'], axis=1, inplace=True)

In [52]:
acc_afs_merged.drop_duplicates(inplace=True)
acc_afs_merged.shape

(68611, 11)

Alle string columns van Account en contact samenvoegen

In [53]:
acc_afs_merged['account_onderneming'] = acc_afs_merged['account_onderneming'].astype(str)
acc_afs_merged['account_adres'] = acc_afs_merged['account_adres'].astype(str)
acc_afs_merged['activiteitscode_naam'] = acc_afs_merged['activiteitscode_naam'].astype(str)
acc_afs_merged['contact_functietitel'] = acc_afs_merged['contact_functietitel'].astype(str)
acc_afs_merged['functie_naam'] = acc_afs_merged['functie_naam'].astype(str)
acc_afs_merged['financieledata_toegevoegde_waarde'] = acc_afs_merged['financieledata_toegevoegde_waarde'].astype(str)
acc_afs_merged['financieledata_boekjaar_range'] = acc_afs_merged['financieledata_boekjaar_range'].astype(str)

acc_afs_merged['account_keyphrases'] = acc_afs_merged['account_onderneming'] + ', ' + acc_afs_merged['account_adres'] + ', ' \
            + acc_afs_merged['activiteitscode_naam'] + ', ' + acc_afs_merged['contact_functietitel'] + ', ' \
            + acc_afs_merged['functie_naam'] + ', financiel toegevoegde waarde ' + acc_afs_merged['financieledata_toegevoegde_waarde'] + ' over ' \
            + acc_afs_merged['financieledata_boekjaar_range'] + ' jaar'

acc_afs_merged['account_keyphrases'] = acc_afs_merged['account_keyphrases'].str.replace('unknown, ', '')
acc_afs_merged['account_keyphrases'] = acc_afs_merged['account_keyphrases'].str.replace(', unknown', '')

acc_afs_merged.drop(['account_onderneming', 'account_adres', 'activiteitscode_naam', 'contact_functietitel', 'functie_naam'
                     , 'financieledata_toegevoegde_waarde', 'financieledata_boekjaar_range'], axis=1, inplace=True)

In [54]:
acc_afs_merged.head()

,contact_contactpersoon_id,afspraak_keyphrases,afspraak_betreft,afspraak_account_gelinkt,account_keyphrases
0,0A9D6946-EB72-E111-B43A-00505680000A,unknown,-1.0,-1.0,"Bedrijf, diensten, overige industrie & dienste..."
1,986BE2D1-B113-EB11-8114-001DD8B72B61,unknown,-1.0,-1.0,"Bedrijf, ,, Bazel 9150 Waasland Oost-vlaandere..."
2,D9303EA2-57E5-EB11-8121-001DD8B72B61,unknown,-1.0,-1.0,"Familiebedrijf, diensten, vastgoed, Melle 9090..."
3,FF015050-8D55-EB11-8117-001DD8B72B61,unknown,-1.0,-1.0,"Familiebedrijf, diensten, vastgoed, Melle 9090..."
4,FF0A3AF6-0D42-E611-80D6-005056B06EC4,unknown,-1.0,-1.0,"Bedrijf, diensten, bouw, Maarke-kerkem 9680 Ou..."

In [55]:
acc_afs_merged.shape

(68611, 5)

Alle niet benodigde dataframes verwijderen

In [56]:
try:
    del df_account_contact_finance
    del df_afspraken_total
except:
    print('already deleted or non-existent')

### Campagne cleanen en mergen

In [87]:
df_campagne = pd.read_csv('../data_clean/Campagne_fixed.csv', sep=',')
df_campagne.drop(['campagne_einddatum', 'campagne_startdatum', 'campagne_campagne_nr', 
                  'campagne_naam_in_email', 'campagne_reden_van_status', 'campagne_status',
                  'campagne_url_voka_be'], axis=1, inplace=True)

df_campagne['campagne_keyphrases'] = df_campagne['campagne_soort_campagne'] + ', ' + df_campagne['campagne_type_campagne'] + ', ' \
            + df_campagne['campagne_naam']

df_campagne['campagne_keyphrases'] = df_campagne['campagne_keyphrases'].str.replace('unknown, ', '')
df_campagne['campagne_keyphrases'] = df_campagne['campagne_keyphrases'].str.replace(', unknown', '')

df_campagne.drop(['campagne_soort_campagne', 'campagne_type_campagne', 'campagne_naam'], axis=1, inplace=True)

print(df_campagne.shape)
print(df_campagne.columns)

(4092, 2)
Index(['campagne_campagne_id', 'campagne_keyphrases'], dtype='object')

In [100]:
df_campagne.head()

,campagne_campagne_id,campagne_keyphrases
0,0012F1CF-7E18-E811-80EF-001DD8B72B61,"Offline, Opleiding, OV-Vind het juiste talent ..."
1,00175112-65FE-E111-8D2C-984BE17C47FB,"Offline, Netwerkevenement, OV-NW- Voka Vista D..."
2,001B42E8-76F8-E411-ABE8-005056B06EB4,"Offline, Netwerkevenement, OV-IO-Economische m..."
3,002B50B9-36D9-E911-8105-001DD8B72B61,"Offline, Netwerkevenement, OV-NW-Voka Update-A..."
4,00372A75-CEF1-E511-8668-005056B06EC4,"Offline, Netwerkevenement, OV-Regioraad Gent e..."

### Sessie cleanen

In [110]:
df_sessie = pd.read_csv('../data_clean/Sessie_fixed.csv', sep=',')
df_sessie.drop(['sessie_eind_datum_tijd', 'sessie_sessie_nr_', 'sessie_start_datum_tijd'], axis=1, inplace=True)
print(df_sessie.shape)
print(df_sessie.columns)

(9403, 5)
Index(['sessie_activiteitstype', 'sessie_campagne', 'sessie_product',
       'sessie_sessie_id', 'sessie_thema_naam_'],
      dtype='object')

### Inschrijving cleanen

In [111]:
df_inschrijving = pd.read_csv('../data_clean/Inschrijving_fixed.csv', sep=',')
df_inschrijving.drop(['inschrijving_datum_inschrijving', 'inschrijving_campagne_naam_'], axis=1, inplace=True)
print(df_inschrijving.shape)
print(df_inschrijving.columns)

(49175, 6)
Index(['inschrijving_aanwezig_afwezig', 'inschrijving_bron',
       'inschrijving_contactfiche', 'inschrijving_inschrijving_id',
       'inschrijving_facturatie_bedrag', 'inschrijving_campagne'],
      dtype='object')

### Sessie_inschrijving cleanen

In [112]:
df_sessie_inschrijving = pd.read_csv('../data_clean/Sessie_inschrijving_fixed.csv', sep=',')
print(df_sessie_inschrijving.shape)
print(df_sessie_inschrijving.columns)

(88309, 3)
Index(['sessieinschrijving_sessieinschrijving_id', 'sessieinschrijving_sessie',
       'sessieinschrijving_inschrijving'],
      dtype='object')

### Sessie, Sessie_inschrijving en Inschrijving mergen

In [120]:
df_sessie_inschrijving_merge = df_sessie_inschrijving.merge(df_sessie, left_on='sessieinschrijving_sessie', right_on='sessie_sessie_id', how='inner')
df_sessie_inschrijving_merge.drop(['sessieinschrijving_sessie'], axis=1, inplace=True)
print(df_sessie_inschrijving_merge.shape)

(88309, 7)

In [121]:
df_sessie_inschrijving_merge = df_sessie_inschrijving_merge.merge(df_inschrijving, left_on='sessieinschrijving_inschrijving', right_on='inschrijving_inschrijving_id', how='inner')
df_sessie_inschrijving_merge.drop(['sessieinschrijving_inschrijving', 'inschrijving_inschrijving_id', 'sessie_sessie_id', 'sessieinschrijving_sessieinschrijving_id'], axis=1, inplace=True)
df_sessie_inschrijving_merge.drop_duplicates(inplace=True)
print(df_sessie_inschrijving_merge.shape)
print(df_sessie_inschrijving_merge.columns)

(53222, 9)
Index(['sessie_activiteitstype', 'sessie_campagne', 'sessie_product',
       'sessie_thema_naam_', 'inschrijving_aanwezig_afwezig',
       'inschrijving_bron', 'inschrijving_contactfiche',
       'inschrijving_facturatie_bedrag', 'inschrijving_campagne'],
      dtype='object')

### Campagne, Sessie, Sessie_inschrijving en Inschrijving mergen

In [127]:
df_camp_inschrijving_merge = df_sessie_inschrijving_merge.merge(df_campagne, left_on='inschrijving_campagne', right_on='campagne_campagne_id', how='inner')
df_camp_inschrijving_merge.drop(['inschrijving_campagne'], axis=1, inplace=True)
df_camp_inschrijving_merge.drop_duplicates(inplace=True)
print(df_camp_inschrijving_merge.shape)
print(df_camp_inschrijving_merge.columns)

(53222, 10)
Index(['sessie_activiteitstype', 'sessie_campagne', 'sessie_product',
       'sessie_thema_naam_', 'inschrijving_aanwezig_afwezig',
       'inschrijving_bron', 'inschrijving_contactfiche',
       'inschrijving_facturatie_bedrag', 'campagne_campagne_id',
       'campagne_keyphrases'],
      dtype='object')

In [134]:
df_camp_inschrijving_merge.head()

,sessie_activiteitstype,sessie_campagne,sessie_product,sessie_thema_naam_,inschrijving_aanwezig_afwezig,inschrijving_bron,inschrijving_contactfiche,inschrijving_facturatie_bedrag,campagne_campagne_id,campagne_keyphrases
0,Voka Politica,A57DE97C-460B-E811-80EF-001DD8B72B61,OV-Netwerkactiviteit-Regionaal,Netwerking,Aanwezig,Email,D41C3FC7-A96D-E111-B43A-00505680000A,0,A57DE97C-460B-E811-80EF-001DD8B72B61,"Offline, Netwerkevenement, OV - Voka politica ..."
1,Voka Politica,A57DE97C-460B-E811-80EF-001DD8B72B61,OV-Netwerkactiviteit-Regionaal,Netwerking,Aanwezig,Email,83502ED6-C567-E711-80E8-001DD8B72B61,0,A57DE97C-460B-E811-80EF-001DD8B72B61,"Offline, Netwerkevenement, OV - Voka politica ..."
2,Voka Politica,A57DE97C-460B-E811-80EF-001DD8B72B61,OV-Netwerkactiviteit-Regionaal,Netwerking,Aanwezig,Email,E2628A18-3836-E711-80E6-001DD8B72B61,0,A57DE97C-460B-E811-80EF-001DD8B72B61,"Offline, Netwerkevenement, OV - Voka politica ..."
3,Voka Politica,A57DE97C-460B-E811-80EF-001DD8B72B61,OV-Netwerkactiviteit-Regionaal,Netwerking,Aanwezig,Email,07C159CA-428F-E211-A980-005056B06EB4,0,A57DE97C-460B-E811-80EF-001DD8B72B61,"Offline, Netwerkevenement, OV - Voka politica ..."
4,Voka Politica,A57DE97C-460B-E811-80EF-001DD8B72B61,OV-Netwerkactiviteit-Regionaal,Netwerking,Aanwezig,Email,F71D6860-428F-E211-A980-005056B06EB4,0,A57DE97C-460B-E811-80EF-001DD8B72B61,"Offline, Netwerkevenement, OV - Voka politica ..."

In [133]:
df_camp_inschrijving_merge['inschrijving_contactfiche'].nunique()

17881

### Account, Afspraak en Campagne mergen

In [178]:
df_acc_afs_camp_merge = acc_afs_merged.merge(df_camp_inschrijving_merge, left_on='contact_contactpersoon_id'
                                             , right_on='inschrijving_contactfiche', how='left')

df_acc_afs_camp_merge.drop(['inschrijving_contactfiche', 'sessie_campagne'], axis=1, inplace=True)

# drop rows where campagne_campagne_id is NaN
df_acc_afs_camp_merge.dropna(subset=['campagne_campagne_id'], inplace=True)

# rows samenvoegen
df_acc_afs_camp_merge['inschrijving_aanwezig_afwezig'] = df_acc_afs_camp_merge['inschrijving_aanwezig_afwezig'].astype(str)
df_acc_afs_camp_merge['inschrijving_aanwezig_afwezig'] = df_acc_afs_camp_merge['inschrijving_aanwezig_afwezig'].str.replace('Aanwezig', '1')
df_acc_afs_camp_merge['inschrijving_aanwezig_afwezig'] = df_acc_afs_camp_merge['inschrijving_aanwezig_afwezig'].str.replace('Afwezig', '0')
df_acc_afs_camp_merge['inschrijving_aanwezig_afwezig'] = df_acc_afs_camp_merge['inschrijving_aanwezig_afwezig'].astype(int)

df_acc_afs_camp_merge['inschrijving_facturatie_bedrag'] = df_acc_afs_camp_merge['inschrijving_facturatie_bedrag'].astype(str)
df_acc_afs_camp_merge['inschrijving_facturatie_bedrag'] = df_acc_afs_camp_merge['inschrijving_facturatie_bedrag'].str.replace(',', '.')
df_acc_afs_camp_merge['inschrijving_facturatie_bedrag'] = df_acc_afs_camp_merge['inschrijving_facturatie_bedrag'].astype(float)

df_acc_afs_camp_merge['inschrijving_bron'] = df_acc_afs_camp_merge['inschrijving_bron'].astype(str)
df_acc_afs_camp_merge['inschrijving_bron'] = df_acc_afs_camp_merge['inschrijving_bron'].str.replace('unknown', '-1')
df_acc_afs_camp_merge['inschrijving_bron'] = df_acc_afs_camp_merge['inschrijving_bron'].str.replace('Website', '1')
df_acc_afs_camp_merge['inschrijving_bron'] = df_acc_afs_camp_merge['inschrijving_bron'].str.replace('Email', '0')

df_acc_afs_camp_merge['sessie_keyphrases'] = df_acc_afs_camp_merge['sessie_activiteitstype'] + ', ' \
            + df_acc_afs_camp_merge['sessie_thema_naam_'] + ', ' \
            + df_acc_afs_camp_merge['sessie_product']
df_acc_afs_camp_merge['sessie_keyphrases'] = df_acc_afs_camp_merge['sessie_keyphrases'].str.replace('unknown, ', '')
df_acc_afs_camp_merge['sessie_keyphrases'] = df_acc_afs_camp_merge['sessie_keyphrases'].str.replace(', unknown', '')

df_acc_afs_camp_merge.drop(['sessie_activiteitstype', 'sessie_thema_naam_', 'sessie_product'], axis=1, inplace=True)

print(df_acc_afs_camp_merge.shape)
print(df_acc_afs_camp_merge.columns)

(53945, 11)
Index(['contact_contactpersoon_id', 'afspraak_keyphrases', 'afspraak_betreft',
       'afspraak_account_gelinkt', 'account_keyphrases',
       'inschrijving_aanwezig_afwezig', 'inschrijving_bron',
       'inschrijving_facturatie_bedrag', 'campagne_campagne_id',
       'campagne_keyphrases', 'sessie_keyphrases'],
      dtype='object')

In [179]:
df_acc_afs_camp_merge.head()

,contact_contactpersoon_id,afspraak_keyphrases,afspraak_betreft,afspraak_account_gelinkt,account_keyphrases,inschrijving_aanwezig_afwezig,inschrijving_bron,inschrijving_facturatie_bedrag,campagne_campagne_id,campagne_keyphrases,sessie_keyphrases
2,D9303EA2-57E5-EB11-8121-001DD8B72B61,unknown,-1.0,-1.0,"Familiebedrijf, diensten, vastgoed, Melle 9090...",1,1,50.0,F090DEF9-2A5A-EB11-811A-001DD8B72B62,"Offline, Netwerkevenement, OV - Kick-Off Commu...","MA Events, Netwerking, OV-Netwerkactiviteit-pr..."
9,451DF235-4B73-E111-B43A-00505680000A,unknown,-1.0,-1.0,"Bedrijf, diensten, consultancy, Geraardsbergen...",1,1,0.0,ED956944-5F6F-EA11-8110-001DD8B72B62,"Offline, Opleiding, OV-Corona Round Tables - S...","GR Werking, Marketing & Sales, OV-Opleidingen-LLT"
15,10446D11-F363-ED11-9561-6045BD895B5A,"Retentie Lidmaatschap, Ov-ledenbezoek-2023, i...",2.0,1.0,"Bedrijf, diensten, milieu, Meilegem 9630 Ouden...",1,1,0.0,317CD023-2B1E-ED11-B83D-000D3AAD783A,"Offline, Netwerkevenement, OV-NW-Nieuwjaarsrec...","NW Voka Connect Gent, Netwerking, OV-Netwerkac..."
16,10446D11-F363-ED11-9561-6045BD895B5A,"Retentie Lidmaatschap, Ov-ledenbezoek-2023, i...",2.0,1.0,"Bedrijf, diensten, milieu, Meilegem 9630 Ouden...",1,1,0.0,317CD023-2B1E-ED11-B83D-000D3AAD783A,"Offline, Netwerkevenement, OV-NW-Nieuwjaarsrec...","JO Events, Jong Voka, OV-Seminarie"
17,10446D11-F363-ED11-9561-6045BD895B5A,"Retentie Lidmaatschap, Ov-ledenbezoek-2023, i...",2.0,1.0,"Bedrijf, diensten, milieu, Meilegem 9630 Ouden...",1,0,0.0,604B37A4-C064-ED11-9561-6045BD895B5A,"Offline, Netwerkevenement, OV-MATCH-Welkom@Vok...","MA Ledenwerking, Netwerking, OV-Netwerkactivit..."

verwijder onnodige dataframes

In [180]:
try:
    del acc_afs_merged
    del df_campagne
    del df_sessie
    del df_inschrijving
    del df_sessie_inschrijving
    del df_sessie_inschrijving_merge
    del df_camp_inschrijving_merge
except:
    print('already deleted or non-existent')

### CDI Pageview, CDI Visit, CDI Mailing en CDI Sentemailclick cleanen en mergen

In [262]:
df_pageview = pd.read_csv('../data_clean/CDI_pageviews_fixed.csv', sep=',')
print(df_pageview.shape)
print(df_pageview.columns)

(1651, 20)
Index(['browser', 'campaign', 'contact', 'duration', 'operatingsystem',
       'pageview_id', 'referrertype', 'time', 'pagetitle', 'type', 'url',
       'viewedon', 'visit', 'visitorkey', 'webcontent', 'aangemaaktop',
       'gewijzigddoor', 'gewijzigdop', 'status', 'redenvanstatus'],
      dtype='object')

In [263]:
df_visit = pd.read_csv('../data_clean/CDI_visits_fixed.csv', sep=',')
print(df_visit.shape)
print(sorted(list(df_visit.columns)))

(24444, 35)
['visit_aangemaakt_op', 'visit_adobe_reader', 'visit_bounce', 'visit_browser', 'visit_campagne_code', 'visit_campaign', 'visit_contact', 'visit_contact_naam_', 'visit_containssocialprofile', 'visit_duration', 'visit_email_send', 'visit_ended_on', 'visit_entry_page', 'visit_exit_page', 'visit_first_visit', 'visit_gewijzigd_op', 'visit_ip_address', 'visit_ip_company', 'visit_ip_land', 'visit_ip_latitude', 'visit_ip_longitude', 'visit_ip_organization', 'visit_ip_postcode', 'visit_ip_stad', 'visit_ip_status', 'visit_keywords', 'visit_operating_system', 'visit_referrer', 'visit_referrer_type', 'visit_referring_host', 'visit_score', 'visit_started_on', 'visit_time', 'visit_total_pages', 'visit_visit_id']

##### Visit en Pageview mergen

In [299]:
df_visit_pageview = df_visit.merge(df_pageview, left_on='visit_visit_id', right_on='visit', how='left')
df_visit_pageview.drop(['visit', 'visit_ip_postcode', 'visit_aangemaakt_op', 'visit_adobe_reader', 'visit_campagne_code',
                        'visit_contact_naam_', 'visit_containssocialprofile', 'visit_ended_on', 'visit_ip_address',
                        'visit_ip_organization', 'visit_keywords', 'visit_ip_longitude', 'visit_ip_latitude', 'visit_referrer', 
                        'visit_score', 'visit_started_on', 'visit_ip_status', 'visit_time', 'visit_visit_id', 'visit_gewijzigd_op',
                        'browser', 'campaign', 'contact', 'duration', 'operatingsystem',
                        'pageview_id', 'referrertype', 'time', 'pagetitle', 'type', 'url',
                        'viewedon', 'visitorkey', 'webcontent', 'aangemaaktop', 'gewijzigddoor',
                        'gewijzigdop', 'status', 'redenvanstatus'], axis=1, inplace=True)

df_visit_pageview.drop_duplicates(inplace=True)

# from visit_entry_page and visit_exit_page, extract the page name until the ?
df_visit_pageview['visit_entry_page'] = df_visit_pageview['visit_entry_page'].str.split('?').str[0]
df_visit_pageview['visit_exit_page'] = df_visit_pageview['visit_exit_page'].str.split('?').str[0]

df_visit_pageview['visit_keyphrases'] = df_visit_pageview['visit_browser'].str.lower() + ', ' + df_visit_pageview['visit_operating_system'].str.lower() + ', ' \
            + df_visit_pageview['visit_ip_stad'] + ', ' \
            + df_visit_pageview['visit_ip_land'] + ', ' + df_visit_pageview['visit_ip_company'] + ', ' \
            + df_visit_pageview['visit_duration'].astype(str) + ', ' + df_visit_pageview['visit_entry_page'] + ', ' \
            + df_visit_pageview['visit_exit_page'] + ', eerste visit ' + df_visit_pageview['visit_first_visit'] \
            + ', aantal pagina\'s ' \
            + df_visit_pageview['visit_total_pages'].astype(str) + ', referrer host '  \
            + df_visit_pageview['visit_referring_host'].astype(str) + ', ' \
            + 'referrer type ' + df_visit_pageview['visit_referrer_type'].astype(str) + ', visit bounce ' \
            + df_visit_pageview['visit_bounce'].astype(str)

df_visit_pageview.drop(['visit_browser', 'visit_operating_system', 'visit_ip_stad', 'visit_ip_land', 'visit_ip_company', 'visit_duration', 
                        'visit_entry_page', 'visit_exit_page', 'visit_first_visit', 'visit_total_pages', 'visit_referring_host', 
                        'visit_referrer_type', 'visit_bounce'], axis=1, inplace=True)

print(df_visit_pageview.shape)
print(df_visit_pageview.columns)

(23654, 4)
Index(['visit_campaign', 'visit_contact', 'visit_email_send',
       'visit_keyphrases'],
      dtype='object')

##### Mailing en sentemailclick mergen

In [300]:
df_mailing = pd.read_csv('../data_clean/CDI_mailing_fixed.csv', sep=',')
df_mailing.drop(['mailing_sent_on'], axis=1, inplace=True)
df_mailing.drop_duplicates(inplace=True)
print(df_mailing.shape)
print(df_mailing.columns)

(860, 3)
Index(['mailing_mailing_id', 'mailing_name', 'mailing_onderwerp'], dtype='object')

In [301]:
df_click = pd.read_csv('../data_clean/CDI_sent_email_clicks_fixed.csv', sep=',')
df_click.drop(['sentemail_kliks_contact', 'sentemail_kliks_sent_email_id'], axis=1, inplace=True)
df_click.drop_duplicates(inplace=True)
print(df_click.shape)
print(df_click.columns)

(4807, 2)
Index(['sentemail_kliks_clicks', 'sentemail_kliks_e_mail_versturen'], dtype='object')

In [302]:
df_mailing_merged = df_mailing.merge(df_click, left_on='mailing_mailing_id', right_on='sentemail_kliks_e_mail_versturen', how='inner')
df_mailing_merged.drop(['sentemail_kliks_e_mail_versturen'], axis=1, inplace=True)
print(df_mailing_merged.shape)
print(df_mailing_merged.columns)

(4807, 4)
Index(['mailing_mailing_id', 'mailing_name', 'mailing_onderwerp',
       'sentemail_kliks_clicks'],
      dtype='object')

In [303]:
df_mailing_merged = df_mailing_merged.groupby(['mailing_mailing_id', 'mailing_name', 'mailing_onderwerp'], 
                          as_index=False).agg({'sentemail_kliks_clicks': 'sum', 
                                                **{col: 'first' for col in df_mailing_merged.columns if col not in ['sentemail_kliks_clicks']}})

In [304]:
df_mailing_merged.shape

(762, 4)

##### pageview_visit en mailing sentemailclick mergen

In [307]:
df_pageview_visit_mailing = df_visit_pageview.merge(df_mailing_merged, left_on='visit_email_send', right_on='mailing_mailing_id', how='left')
df_pageview_visit_mailing.drop(['visit_email_send', 'mailing_mailing_id', 'visit_campaign'], axis=1, inplace=True)

df_pageview_visit_mailing['mailing_keyphrases'] = df_pageview_visit_mailing['mailing_name'] + ', ' + df_pageview_visit_mailing['mailing_onderwerp'] \
            + ', aantal email clicks ' + df_pageview_visit_mailing['sentemail_kliks_clicks'].astype(str)

df_pageview_visit_mailing.drop(['mailing_name', 'mailing_onderwerp', 'sentemail_kliks_clicks'], axis=1, inplace=True)

print(df_pageview_visit_mailing.shape)
print(df_pageview_visit_mailing.columns)

(23654, 3)
Index(['visit_contact', 'visit_keyphrases', 'mailing_keyphrases'], dtype='object')

In [308]:
df_pageview_visit_mailing.head()

,visit_contact,visit_keyphrases,mailing_keyphrases
0,7DCF89E7-D469-E111-B43A-00505680000A,"firefox, windows, Gentbrugge, Belgium, Belgaco...","OV-GR-Overdracht en overname, Vragen rond over..."
1,6913126E-B56A-E111-B43A-00505680000A,"safari, mac, Brecht, Belgium, Telenet, 0.0, ht...","OV-nieuwsbrief-160222, Nieuws uit je regio, re..."
2,E14E454F-3B6F-E111-B43A-00505680000A,"safari, mac, Hove, Belgium, Telenet, 0.0, http...","OV-20210903-Nieuwsbrief, Bedrijfsnieuws uit je..."
3,7DCF89E7-D469-E111-B43A-00505680000A,"firefox, windows, Gentbrugge, Belgium, Belgaco...",OV-NW-Nieuws uit Aalst_Openingsweek Voka Vaart...
4,D4E2762D-8E10-EC11-8123-001DD8B72B61,"android, linux, Amay, Belgium, Telenet Operati...","OV-nieuwsbrief-181022, Nieuws uit je regio, re..."

### Total merge

In [317]:
df_merged_total = df_acc_afs_camp_merge.merge(df_pageview_visit_mailing, left_on='contact_contactpersoon_id', right_on='visit_contact', how='left')
df_merged_total.drop(['visit_contact', 'contact_contactpersoon_id', 'campagne_campagne_id'], axis=1, inplace=True)
df_merged_total.fillna('unknown', inplace=True)
df_merged_total.shape

(250668, 11)

In [318]:
df_merged_total.head()

,afspraak_keyphrases,afspraak_betreft,afspraak_account_gelinkt,account_keyphrases,inschrijving_aanwezig_afwezig,inschrijving_bron,inschrijving_facturatie_bedrag,campagne_keyphrases,sessie_keyphrases,visit_keyphrases,mailing_keyphrases
0,unknown,-1.0,-1.0,"Familiebedrijf, diensten, vastgoed, Melle 9090...",1,1,50.0,"Offline, Netwerkevenement, OV - Kick-Off Commu...","MA Events, Netwerking, OV-Netwerkactiviteit-pr...",unknown,unknown
1,unknown,-1.0,-1.0,"Bedrijf, diensten, consultancy, Geraardsbergen...",1,1,0.0,"Offline, Opleiding, OV-Corona Round Tables - S...","GR Werking, Marketing & Sales, OV-Opleidingen-LLT",unknown,unknown
2,"Retentie Lidmaatschap, Ov-ledenbezoek-2023, i...",2.0,1.0,"Bedrijf, diensten, milieu, Meilegem 9630 Ouden...",1,1,0.0,"Offline, Netwerkevenement, OV-NW-Nieuwjaarsrec...","NW Voka Connect Gent, Netwerking, OV-Netwerkac...","chrome, windows, Ghent, Belgium, PRO, 0.0, htt...","OV-JO-Stamgasten 2023, Uitnodiging Stamgasten ..."
3,"Retentie Lidmaatschap, Ov-ledenbezoek-2023, i...",2.0,1.0,"Bedrijf, diensten, milieu, Meilegem 9630 Ouden...",1,1,0.0,"Offline, Netwerkevenement, OV-NW-Nieuwjaarsrec...","NW Voka Connect Gent, Netwerking, OV-Netwerkac...","chrome, windows, Ghent, Belgium, Telenet, 0.0,...",OV-NW-Nieuwjaarsreceptie Vlaamse Ardennen - Le...
4,"Retentie Lidmaatschap, Ov-ledenbezoek-2023, i...",2.0,1.0,"Bedrijf, diensten, milieu, Meilegem 9630 Ouden...",1,1,0.0,"Offline, Netwerkevenement, OV-NW-Nieuwjaarsrec...","NW Voka Connect Gent, Netwerking, OV-Netwerkac...","chrome, windows, Ghent, Belgium, PRO, 0.0, htt...","OV-nieuwsbrief-09052023, Nieuws van Voka Oost-..."

In [319]:
df_merged_total.to_csv('../data_clean/merged_total.csv', index=False)