In [13]:
import pandas as pd
data = pd.read_csv('../data_clean/Account_financiÃ«le_data_fixed.csv', sep=",")

In [14]:
data.head()

,FinancieleData_ID,FinancieleData_OndernemingID,FinancieleData_Boekjaar,FinancieleData_Aantal_maanden,FinancieleData_Toegevoegde_waarde,FinancieleData_FTE,FinancieleData_Gewijzigd_op
0,1,00002DAC-0A69-E111-B43A-00505680000A,2007,NaN,NaN,1,15-10-2018 08:21:37
1,2,00002DAC-0A69-E111-B43A-00505680000A,2008,NaN,NaN,1,15-10-2018 13:20:45
2,3,00002DAC-0A69-E111-B43A-00505680000A,2009,NaN,NaN,2,15-10-2018 04:00:52
3,4,00002DAC-0A69-E111-B43A-00505680000A,2010,12.0,NaN,1,15-10-2018 12:42:56
4,5,00002DAC-0A69-E111-B43A-00505680000A,2011,12.0,NaN,1,15-10-2018 04:54:28

In [17]:
unique_financial_onderneming_id = data['FinancieleData_OndernemingID'].unique()

In [16]:
data2 = pd.read_csv('../data_clean/Account_fixed.csv', sep=",")

In [18]:
unique_account_id = data2['Account_Account'].unique()

In [20]:
# check if there are any accounts that are not in the financial data
for account in unique_financial_onderneming_id:
    if account not in unique_account_id:
        print(account)

02E2C17D-A213-E211-9DAA-005056B06EB4
5C161136-A768-E111-B43A-00505680000A
8AC9D862-9668-E111-B43A-00505680000A
DFAAE601-1969-E111-B43A-00505680000A

In [22]:
excluded_ids = [
    "02E2C17D-A213-E211-9DAA-005056B06EB4",
    "5C161136-A768-E111-B43A-00505680000A",
    "8AC9D862-9668-E111-B43A-00505680000A",
    "DFAAE601-1969-E111-B43A-00505680000A"
]

data = data[~data['FinancieleData_OndernemingID'].isin(excluded_ids)]

In [23]:
data[data['FinancieleData_OndernemingID'] == "DFAAE601-1969-E111-B43A-00505680000A"]

Empty DataFrame
Columns: [FinancieleData_ID, FinancieleData_OndernemingID, FinancieleData_Boekjaar, FinancieleData_Aantal_maanden, FinancieleData_Toegevoegde_waarde, FinancieleData_FTE, FinancieleData_Gewijzigd_op]
Index: []