# Epic 8
Als een keyuser wil ik graag een lijst van accounts (bedrijven) kunnen opmaken die het meest waarschijnlijk zijn om hun lidmaatschap volgend jaar niet te hernieuwen

Om dit te kunnen uitvoeren, gaan we eerst inzicht in de data omtrent lidmaatschappen verwerven. Het is vooral belangrijk te achterhalen om welke redenen accounts in het verleden hun lidmaatschap hebben opgezegd.

## 1. Data inladen

In [162]:
import pandas as pd
import pyarrow as pa
import pyarrow.parquet as pq
import numpy as np
import os
from dotenv import load_dotenv
from sqlalchemy import create_engine
import optparse
import nltk
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.metrics import roc_auc_score, roc_curve, precision_recall_curve, auc
import seaborn as sns

#### Create connection to DWH

nog geen OS gebruikt hieronder want gebruik docker dus moet nog es bekijken hoe

In [111]:
ENV_URL = os.path.join(os.getcwd(), '../.env')
load_dotenv(ENV_URL)

# DWH_NAME = os.environ.get('DWH_NAME')
SERVER_NAME = os.environ.get('SERVER_NAME')
DB_USER = os.environ.get('DB_USER')
DB_PASSWORD = os.environ.get('DB_PASSWORD')

DWH_NAME = 'Voka_DWH5'

URL = f'mssql+pymssql://{DB_USER}:{DB_PASSWORD}@{SERVER_NAME}/{DWH_NAME}'
# URL_LOCAL = f'mssql+pyodbc://{SERVER_NAME}/{DWH_NAME}?trusted_connection=yes&driver=ODBC+Driver+17 for SQL Server'
URL_EMMA =  f'mssql+pyodbc://SA:SQLSERVERPassw0rd@localhost:1433/Voka_DWH5_2?trusted_connection=no&driver=ODBC+Driver+17+for+SQL+Server'

engine = create_engine(URL_EMMA)
conn = engine.connect()

Create datafraùe with all the data from the DWH

In [112]:
def create_query(table_name, columns, condition=None):

    query = f"SELECT "

    for i, column in enumerate(columns):
        if i == 0:
            query += f"[{column}]"
        else:
            query += f", [{column}]"
    
    query += f" FROM [{DWH_NAME}].[dbo].[{table_name}]"
    
    if condition:
        query += f" WHERE {condition}"

    return query

#### Merge Account en Lidmaatschap

In [113]:
#ACCOUNT DATA
#needed Account columns
account_col = ['accountID', 'plaats', 'isVokaEntiteit', 'accountStatus', 'ondernemingstype', 'ondernemingsaard', 'activiteitNaam']

#condition
account_condition = "provincie = 'Oost-Vlaanderen'"

#create query
account_query = create_query('DimAccount', account_col, account_condition)
df_account = pd.read_sql(account_query, conn)
df_account['plaats'] = df_account['plaats'].str.replace(r'\([a-z.-]+\)', '', regex=True).str.replace('  ', ' ')


df_account.shape

(4119, 7)

In [114]:
#LIDMAATSCHAP DATA
#needed Lidmaatschap columns
lidmaatschap_col = ['lidmaatschapID', 'accountID', 'redenAangroei', 'redenVerloop', 'startDatum', 'opzegDatum']

#create query
lidmaatschap_query = create_query('DimLidmaatschap', lidmaatschap_col)
df_lidmaatschap = pd.read_sql(lidmaatschap_query, conn)

df_lidmaatschap.shape

(6854, 6)

In [115]:
#FIN DATA
#needed Fin columns
financiële_data_col = ['accountID', 'boekjaar', 'aantalMaanden', 'toegevoegdeWaarde']

#create query
financiële_data_query = create_query('DimFinanciëleDataAccount', financiële_data_col)
df_financiële_data = pd.read_sql(financiële_data_query, conn)

df_financiële_data.shape

(2050835, 4)

In [116]:
#Inschrijving Data
#needed Inschrijving columns
inschrijving_col = ['contactID', 'campagneID', 'inschrijvingsDatumID', 'facturatieBedrag']

#create query
inschrijving_query = create_query('FactInschrijving', inschrijving_col)
df_inschrijving = pd.read_sql(inschrijving_query, conn)

df_inschrijving.shape

(826659, 4)

#### Merge Lidmaatschap en Account

In [117]:
df_account_lid = df_account.merge(df_lidmaatschap, on='accountID', how='inner')
df_account_lid.shape

(2446, 12)

#### Merge Inschrijving en Contact

In [118]:
#needed contact col
contact_col = ['contactID', 'accountID']

#create query
contact_query = create_query('DimContact', contact_col)
df_contact = pd.read_sql(contact_query, conn)

df_contact.shape

(1173107, 2)

In [119]:
df_inschrijving = df_inschrijving.merge(df_contact, on='contactID', how='left')
df_inschrijving.shape

(826659, 5)

#### Merge Inschrijving en Datum

In [120]:
#needed datum col
datum_col = ['dateID', 'fullDate']

#create query
datum_query = create_query('DimDate', datum_col)
df_datum = pd.read_sql(datum_query, conn)

df_datum.shape

(100806, 2)

In [121]:
df_inschrijving = df_inschrijving.merge(df_datum, left_on='inschrijvingsDatumID', right_on='dateID', how='left')

In [122]:
df_inschrijving.drop(columns=['dateID', 'inschrijvingsDatumID'], inplace=True)

In [123]:
df_inschrijving.head()

,contactID,campagneID,facturatieBedrag,accountID,fullDate
0,000C50C8-2D14-EB11-8116-001DD8B72B62,E3ABC733-BA78-EA11-810E-001DD8B72B61,550,A1FB95C5-0EF7-E811-80F9-001DD8B72B61,2020-10-21
1,00169619-E322-E911-80FB-001DD8B72B62,EA3C6FE0-758E-E811-80F3-001DD8B72B61,0,6767F5EA-0AEC-E811-80F8-001DD8B72B61,2018-12-17
2,00169619-E322-E911-80FB-001DD8B72B62,EA3C6FE0-758E-E811-80F3-001DD8B72B61,0,6767F5EA-0AEC-E811-80F8-001DD8B72B61,2018-12-17
3,00169619-E322-E911-80FB-001DD8B72B62,67B929FF-34F2-E811-80F9-001DD8B72B61,0,6767F5EA-0AEC-E811-80F8-001DD8B72B61,2018-12-17
4,00169619-E322-E911-80FB-001DD8B72B62,67B929FF-34F2-E811-80F9-001DD8B72B61,0,6767F5EA-0AEC-E811-80F8-001DD8B72B61,2018-12-17

In [124]:
#drop contactID from inschrijving
df_inschrijving.drop('contactID', axis=1, inplace=True)
df_inschrijving.shape

(826659, 4)

#### Inladen Campagne

In [125]:
#needed campagne col
campagne_col = ['campagneID', 'campagneNaam', 'campagneType']

#create query
campagne_query = create_query('DimCampagne', campagne_col)
df_campagne = pd.read_sql(campagne_query, conn)

df_campagne.shape

(4101, 3)

We hebben nu de volgende dataframes:
- df_account_lid = account + lidmaatschap info
- df_inschrijving = inschrijvingen per account
- df_financiële_data = financiële data per account
- df_campagne = de verschillende campagnes waarvoor een account kan inschrijven

## 2. Data analyseren

In [126]:
df_account_lid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2446 entries, 0 to 2445
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   accountID         2446 non-null   object
 1   plaats            2446 non-null   object
 2   isVokaEntiteit    2446 non-null   int64
 3   accountStatus     2446 non-null   int64
 4   ondernemingstype  2446 non-null   object
 5   ondernemingsaard  2446 non-null   object
 6   activiteitNaam    2446 non-null   object
 7   lidmaatschapID    2446 non-null   object
 8   redenAangroei     2446 non-null   object
 9   redenVerloop      2446 non-null   object
 10  startDatum        2446 non-null   object
 11  opzegDatum        2446 non-null   object
dtypes: int64(2), object(10)
memory usage: 229.4+ KB

In [127]:
df_account_lid.head()

,accountID,plaats,isVokaEntiteit,accountStatus,ondernemingstype,ondernemingsaard,activiteitNaam,lidmaatschapID,redenAangroei,redenVerloop,startDatum,opzegDatum
0,00002DAC-0A69-E111-B43A-00505680000A,BEVERE,0,1,Bedrijf,Diensten,Overige industrie & diensten,F10DF4A4-186F-E111-B43A-00505680000A,unknown,unknown,2011-12-07,2013-12-31
1,0016CAE8-BD68-E111-B43A-00505680000A,Gentbrugge,0,1,Bedrijf,Productie & Diensten,Overige industrie & diensten,36CF5725-FA6E-E111-B43A-00505680000A,unknown,unknown,2010-12-17,1950-01-01
2,002C0FBC-C268-E111-B43A-00505680000A,Hamme (O.-Vl.),0,1,Familiebedrijf,Productie & Diensten,Ijzer en staal,A6713FE6-FB6E-E111-B43A-00505680000A,unknown,unknown,2007-01-01,1950-01-01
3,003B965B-C268-E111-B43A-00505680000A,GENT,0,1,Bedrijf,Diensten,Telecom & IT,D7D751D6-2D6F-E111-B43A-00505680000A,Actieve werving: koude prospectie,Geen gebruik,2013-07-04,2017-01-19
4,004E24A6-0A69-E111-B43A-00505680000A,Dendermonde,0,1,Bedrijf,Diensten,Telecom & IT,CF25E5EF-E76E-E111-B43A-00505680000A,unknown,unknown,2012-01-17,1950-01-01

We gaan nu kijken naar de accounts waarvoor de accountStatus = 0. Dit zijn accounts die hun lidmaatschap hebben opgezegd. We willen nu achterhalen waarom ze dit hebben gedaan.

De meeste info die we hier voorlopig uit kunnen halen is voorlopig bij de reden 'Geen gebruik'. 'Unknown' is namelijk niet bruikbaar en 'Stopzetting' is te vaag. We gaan dus kijken naar de accounts waarvoor de reden 'Geen gebruik' is. (En we verwijderen de accounts waarvoor de reden 'Unknown' is => we maken nieuwe dataframe)

In [128]:
print(df_account_lid['opzegDatum'].unique())

[datetime.date(2013, 12, 31) datetime.date(1950, 1, 1)
 datetime.date(2017, 1, 19) datetime.date(2009, 12, 1)
 datetime.date(2023, 12, 31) datetime.date(2018, 1, 30)
 datetime.date(2022, 6, 7) datetime.date(2012, 3, 4)
 datetime.date(2018, 1, 27) datetime.date(2018, 3, 28)
 datetime.date(2020, 12, 31) datetime.date(2013, 4, 19)
 datetime.date(2017, 12, 11) datetime.date(2017, 6, 27)
 datetime.date(2018, 12, 31) datetime.date(2022, 2, 2)
 datetime.date(2019, 6, 19) datetime.date(2010, 12, 19)
 datetime.date(2021, 5, 31) datetime.date(2011, 3, 21)
 datetime.date(2017, 1, 2) datetime.date(2014, 1, 31)
 datetime.date(2014, 10, 3) datetime.date(2015, 3, 31)
 datetime.date(2010, 4, 12) datetime.date(2014, 12, 29)
 datetime.date(2011, 3, 20) datetime.date(2021, 12, 31)
 datetime.date(2007, 12, 1) datetime.date(2013, 2, 14)
 datetime.date(2017, 12, 20) datetime.date(2022, 12, 31)
 datetime.date(2010, 3, 29) datetime.date(2010, 1, 20)
 datetime.date(2012, 11, 22) datetime.date(2019, 12, 31)
 datetime.date(2008, 12, 1) datetime.date(2020, 3, 9)
 datetime.date(2019, 8, 1) datetime.date(2008, 7, 30)
 datetime.date(2016, 3, 1) datetime.date(2014, 11, 19)
 datetime.date(2011, 6, 16) datetime.date(2016, 5, 26)
 datetime.date(2019, 3, 10) datetime.date(2020, 11, 1)
 datetime.date(2020, 1, 29) datetime.date(2013, 3, 28)
 datetime.date(2011, 12, 4) datetime.date(2011, 3, 7)
 datetime.date(2019, 5, 9) datetime.date(2018, 5, 14)
 datetime.date(2013, 9, 30) datetime.date(2013, 4, 18)
 datetime.date(2013, 4, 2) datetime.date(2013, 12, 16)
 datetime.date(2017, 5, 18) datetime.date(2012, 12, 31)
 datetime.date(2009, 12, 31) datetime.date(2013, 4, 4)
 datetime.date(2016, 7, 8) datetime.date(2015, 1, 21)
 datetime.date(2011, 12, 11) datetime.date(2017, 12, 31)
 datetime.date(2019, 1, 25) datetime.date(2016, 1, 1)
 datetime.date(2016, 12, 31) datetime.date(2016, 2, 19)
 datetime.date(2019, 3, 14) datetime.date(2008, 1, 28)
 datetime.date(2011, 1, 19) datetime.date(2011, 1, 31)
 datetime.date(2020, 12, 30) datetime.date(2014, 4, 2)
 datetime.date(2010, 12, 31) datetime.date(2013, 11, 28)
 datetime.date(2019, 3, 31) datetime.date(2014, 12, 31)
 datetime.date(2010, 3, 7) datetime.date(2012, 2, 29)
 datetime.date(2019, 12, 16) datetime.date(2013, 9, 26)
 datetime.date(2016, 2, 24) datetime.date(2010, 12, 1)
 datetime.date(2012, 2, 1) datetime.date(2009, 11, 29)
 datetime.date(2016, 2, 2) datetime.date(2019, 1, 17)
 datetime.date(2023, 4, 27) datetime.date(2018, 4, 25)
 datetime.date(2015, 3, 29) datetime.date(2020, 1, 6)
 datetime.date(2009, 1, 28) datetime.date(2021, 12, 30)
 datetime.date(2011, 4, 12) datetime.date(2016, 3, 29)
 datetime.date(2010, 10, 18) datetime.date(2017, 4, 14)
 datetime.date(2012, 7, 12) datetime.date(2009, 12, 13)
 datetime.date(2012, 2, 26) datetime.date(2014, 5, 2)
 datetime.date(2009, 6, 29) datetime.date(2017, 4, 30)
 datetime.date(2011, 12, 1) datetime.date(2009, 11, 15)
 datetime.date(2022, 1, 1) datetime.date(2014, 1, 1)
 datetime.date(2017, 1, 31) datetime.date(2011, 12, 5)
 datetime.date(2015, 12, 31) datetime.date(2016, 4, 30)
 datetime.date(2012, 5, 21) datetime.date(2021, 12, 21)
 datetime.date(2017, 4, 7) datetime.date(2016, 1, 25)
 datetime.date(2014, 3, 24) datetime.date(2018, 12, 1)
 datetime.date(2018, 3, 1) datetime.date(2013, 6, 14)
 datetime.date(2019, 4, 17) datetime.date(2012, 2, 2)
 datetime.date(2010, 5, 13) datetime.date(2015, 10, 27)
 datetime.date(2011, 7, 10) datetime.date(2021, 2, 3)
 datetime.date(2019, 3, 8) datetime.date(2012, 4, 5)
 datetime.date(2015, 1, 1) datetime.date(2021, 9, 23)
 datetime.date(2020, 1, 16) datetime.date(2012, 5, 20)
 datetime.date(2011, 4, 11) datetime.date(2018, 6, 11)
 datetime.date(2011, 6, 29) datetime.date(2019, 5, 8)
 datetime.date(2011, 2, 23) datetime.date(2013, 3, 7)
 datetime.date(2010, 2, 21) datetime.date(2010, 11, 7)
 datetime.date(2021, 10, 28) datetime.date(2013, 11, 22)
 datetime.date(2012, 10, 2) datetime.date(2018, 1, 16)
 datetime.date(2021, 1, 25) datetime.date(2007, 12, 30)
 datetime.date(2012, 9, 20) datetime.date(2019, 10, 31)
 datetime.date(2019, 1, 20) datetime.date(2009, 4, 12)
 datetime.date(2018, 5, 21) datetime.date(2019, 2, 27)
 datetime.date(2011, 1, 24) datetime.date(2014, 6, 4)
 datetime.date(2015, 11, 10) datetime.date(2009, 6, 10)
 datetime.date(2014, 6, 2) datetime.date(2012, 12, 1)
 datetime.date(2011, 1, 23) datetime.date(2010, 1, 18)
 datetime.date(2010, 2, 4) datetime.date(2012, 12, 17)
 datetime.date(2017, 3, 14) datetime.date(2010, 1, 17)
 datetime.date(2011, 4, 7) datetime.date(2010, 2, 3)
 datetime.date(2013, 9, 18) datetime.date(2014, 2, 1)
 datetime.date(2014, 2, 17) datetime.date(2011, 12, 16)
 datetime.date(2013, 6, 11) datetime.date(2010, 2, 23)
 datetime.date(2012, 2, 12) datetime.date(2020, 11, 27)
 datetime.date(2015, 6, 24) datetime.date(2019, 1, 23)
 datetime.date(2013, 5, 23) datetime.date(2017, 6, 29)
 datetime.date(2010, 2, 5) datetime.date(2009, 12, 14)
 datetime.date(2012, 2, 7) datetime.date(2019, 5, 20)
 datetime.date(2011, 12, 30) datetime.date(2017, 9, 17)
 datetime.date(2016, 5, 27) datetime.date(2009, 5, 11)
 datetime.date(2020, 5, 25) datetime.date(2012, 1, 26)
 datetime.date(2011, 1, 18) datetime.date(2022, 3, 31)
 datetime.date(2018, 2, 2) datetime.date(2019, 7, 15)
 datetime.date(2021, 2, 1) datetime.date(2019, 10, 18)
 datetime.date(2012, 2, 28) datetime.date(2017, 1, 26)
 datetime.date(2020, 3, 11) datetime.date(2010, 1, 19)
 datetime.date(2015, 5, 15) datetime.date(2015, 1, 26)
 datetime.date(2015, 3, 11) datetime.date(2020, 2, 5)
 datetime.date(2011, 3, 31) datetime.date(2009, 1, 29)
 datetime.date(2019, 6, 14) datetime.date(2010, 3, 2)
 datetime.date(2012, 12, 20) datetime.date(2012, 1, 23)
 datetime.date(2013, 7, 1) datetime.date(2010, 2, 8)
 datetime.date(2013, 2, 11) datetime.date(2016, 1, 22)
 datetime.date(2018, 9, 24) datetime.date(2012, 4, 18)
 datetime.date(2008, 2, 4) datetime.date(2015, 5, 5)
 datetime.date(2020, 1, 20) datetime.date(2014, 12, 16)
 datetime.date(2013, 4, 15) datetime.date(2012, 3, 15)
 datetime.date(2011, 2, 8) datetime.date(2018, 7, 19)
 datetime.date(2011, 1, 16) datetime.date(2017, 1, 24)
 datetime.date(2018, 5, 31) datetime.date(2015, 8, 1)
 datetime.date(2019, 2, 12) datetime.date(2009, 12, 10)
 datetime.date(2011, 11, 23) datetime.date(2012, 5, 24)
 datetime.date(2011, 10, 19) datetime.date(2024, 12, 31)
 datetime.date(2019, 1, 29) datetime.date(2014, 1, 23)
 datetime.date(2008, 5, 20) datetime.date(2018, 1, 1)
 datetime.date(2011, 7, 11) datetime.date(2016, 5, 23)
 datetime.date(2018, 3, 16) datetime.date(2014, 6, 27)
 datetime.date(2011, 2, 2) datetime.date(2008, 12, 30)
 datetime.date(2016, 2, 16) datetime.date(2019, 4, 25)
 datetime.date(2016, 3, 9) datetime.date(2018, 6, 1)
 datetime.date(2021, 2, 22) datetime.date(2017, 5, 8)
 datetime.date(2015, 3, 12) datetime.date(2014, 9, 19)
 datetime.date(2015, 6, 18) datetime.date(2013, 12, 19)
 datetime.date(2017, 5, 12) datetime.date(2010, 3, 9)
 datetime.date(2012, 1, 30) datetime.date(2016, 2, 9)
 datetime.date(2012, 10, 26) datetime.date(2013, 11, 14)
 datetime.date(2014, 3, 10) datetime.date(2011, 9, 20)
 datetime.date(2021, 6, 9) datetime.date(2022, 12, 1)
 datetime.date(2013, 7, 26) datetime.date(2023, 10, 4)
 datetime.date(2013, 12, 5) datetime.date(2009, 3, 31)
 datetime.date(2023, 5, 15) datetime.date(2017, 4, 10)
 datetime.date(2008, 9, 21) datetime.date(2009, 8, 5)
 datetime.date(2016, 3, 2) datetime.date(2019, 3, 15)
 datetime.date(2020, 6, 30) datetime.date(2013, 3, 14)
 datetime.date(2013, 2, 5) datetime.date(2012, 11, 30)
 datetime.date(2019, 9, 24) datetime.date(2017, 6, 28)
 datetime.date(2021, 10, 21) datetime.date(2014, 5, 6)
 datetime.date(2021, 12, 22) datetime.date(2009, 12, 30)
 datetime.date(2009, 5, 26) datetime.date(2017, 6, 1)
 datetime.date(2022, 1, 26) datetime.date(2019, 1, 21)
 datetime.date(2018, 5, 29) datetime.date(2017, 1, 4)
 datetime.date(2012, 2, 27) datetime.date(2017, 2, 3)
 datetime.date(2012, 5, 1) datetime.date(2012, 12, 21)
 datetime.date(2019, 1, 18) datetime.date(2010, 10, 4)
 datetime.date(2018, 3, 21) datetime.date(2013, 1, 25)
 datetime.date(2023, 3, 22) datetime.date(2014, 10, 21)
 datetime.date(2012, 10, 11) datetime.date(2010, 11, 11)
 datetime.date(2010, 3, 8) datetime.date(2018, 2, 19)
 datetime.date(2013, 3, 27) datetime.date(2021, 11, 23)
 datetime.date(2014, 2, 7) datetime.date(2020, 11, 9)
 datetime.date(2020, 8, 17) datetime.date(2018, 1, 12)
 datetime.date(2013, 2, 26) datetime.date(2020, 12, 8)
 datetime.date(2018, 8, 21) datetime.date(2018, 9, 5)
 datetime.date(2012, 10, 22) datetime.date(2010, 10, 3)
 datetime.date(2019, 4, 12) datetime.date(2017, 6, 22)
 datetime.date(2008, 5, 29) datetime.date(2015, 8, 6)
 datetime.date(2020, 6, 17) datetime.date(2021, 1, 14)
 datetime.date(2021, 5, 18) datetime.date(2019, 3, 6)
 datetime.date(2016, 6, 28) datetime.date(2007, 2, 8)
 datetime.date(2017, 12, 1) datetime.date(2010, 6, 15)
 datetime.date(2012, 1, 29) datetime.date(2017, 6, 7)
 datetime.date(2014, 4, 11) datetime.date(2023, 4, 24)
 datetime.date(2013, 4, 29) datetime.date(2018, 11, 13)
 datetime.date(2016, 6, 15) datetime.date(2013, 2, 12)
 datetime.date(2011, 3, 9) datetime.date(2010, 1, 25)
 datetime.date(2021, 2, 10) datetime.date(2012, 8, 27)
 datetime.date(2012, 12, 30) datetime.date(2011, 1, 27)
 datetime.date(2011, 3, 22) datetime.date(2022, 8, 11)
 datetime.date(2017, 11, 14) datetime.date(2014, 3, 17)
 datetime.date(2010, 4, 22) datetime.date(2015, 5, 7)
 datetime.date(2011, 2, 24) datetime.date(2009, 2, 26)
 datetime.date(2007, 10, 11) datetime.date(2013, 11, 25)
 datetime.date(2013, 8, 30) datetime.date(2021, 12, 7)
 datetime.date(2010, 4, 11) datetime.date(2012, 12, 4)
 datetime.date(2009, 8, 13) datetime.date(2020, 2, 7)
 datetime.date(2022, 9, 6) datetime.date(2008, 2, 6)
 datetime.date(2013, 1, 29) datetime.date(2014, 9, 1)
 datetime.date(2010, 2, 1) datetime.date(2023, 6, 7)
 datetime.date(2009, 7, 19) datetime.date(2013, 6, 10)
 datetime.date(2013, 5, 10) datetime.date(2009, 10, 1)
 datetime.date(2014, 1, 28) datetime.date(2012, 3, 13)
 datetime.date(2012, 2, 5) datetime.date(2012, 11, 19)
 datetime.date(2018, 10, 2) datetime.date(2010, 3, 31)
 datetime.date(2019, 4, 16) datetime.date(2021, 3, 26)
 datetime.date(2011, 4, 17) datetime.date(2017, 8, 1)
 datetime.date(2018, 5, 7) datetime.date(2017, 6, 20)
 datetime.date(2010, 2, 2) datetime.date(2014, 2, 3)
 datetime.date(2019, 4, 2) datetime.date(2013, 10, 1)
 datetime.date(2022, 6, 10) datetime.date(2014, 1, 29)
 datetime.date(2015, 9, 10) datetime.date(2010, 3, 17)
 datetime.date(2018, 2, 5) datetime.date(2019, 7, 8)
 datetime.date(2013, 4, 16) datetime.date(2011, 8, 25)
 datetime.date(2014, 6, 19) datetime.date(2014, 3, 6)
 datetime.date(2010, 4, 17) datetime.date(2013, 4, 25)
 datetime.date(2009, 3, 14) datetime.date(2013, 9, 17)
 datetime.date(2017, 4, 6) datetime.date(2012, 3, 29)
 datetime.date(2009, 6, 16) datetime.date(2013, 7, 8)
 datetime.date(2022, 7, 25) datetime.date(2014, 5, 1)
 datetime.date(2017, 3, 9) datetime.date(2010, 5, 25)
 datetime.date(2011, 12, 31) datetime.date(2015, 8, 10)
 datetime.date(2015, 5, 4) datetime.date(2015, 3, 22)
 datetime.date(2013, 1, 10) datetime.date(2013, 3, 21)
 datetime.date(2016, 6, 27) datetime.date(2012, 10, 8)
 datetime.date(2014, 3, 31) datetime.date(2017, 1, 27)
 datetime.date(2012, 1, 31) datetime.date(2018, 4, 2)
 datetime.date(2011, 7, 12) datetime.date(2017, 2, 2)
 datetime.date(2023, 10, 5) datetime.date(2017, 4, 12)
 datetime.date(2014, 8, 20) datetime.date(2021, 4, 27)
 datetime.date(2012, 3, 28) datetime.date(2022, 2, 7)
 datetime.date(2018, 3, 20) datetime.date(2022, 9, 20)
 datetime.date(2009, 10, 22) datetime.date(2012, 3, 6)
 datetime.date(2019, 5, 14) datetime.date(2011, 2, 13)
 datetime.date(2018, 6, 27) datetime.date(2016, 9, 7)
 datetime.date(2013, 12, 27) datetime.date(2014, 9, 30)
 datetime.date(2011, 3, 8) datetime.date(2013, 6, 25)
 datetime.date(2022, 3, 2) datetime.date(2017, 2, 1)
 datetime.date(2019, 12, 20) datetime.date(2013, 12, 12)
 datetime.date(2013, 2, 4) datetime.date(2013, 8, 1)
 datetime.date(2022, 3, 21) datetime.date(2020, 3, 17)
 datetime.date(2015, 4, 20) datetime.date(2013, 2, 22)
 datetime.date(2011, 5, 27) datetime.date(2015, 1, 29)
 datetime.date(2019, 10, 1) datetime.date(2013, 2, 7)
 datetime.date(2018, 11, 17) datetime.date(2019, 3, 19)
 datetime.date(2014, 4, 23) datetime.date(2012, 7, 31)
 datetime.date(2011, 1, 29) datetime.date(2011, 10, 20)
 datetime.date(2014, 12, 4) datetime.date(2017, 4, 3)
 datetime.date(2018, 7, 27) datetime.date(2019, 9, 1)
 datetime.date(2015, 1, 16) datetime.date(2009, 10, 4)
 datetime.date(2010, 1, 21) datetime.date(2011, 2, 7)
 datetime.date(2020, 7, 10) datetime.date(2009, 11, 19)
 datetime.date(2017, 6, 26) datetime.date(2018, 8, 14)
 datetime.date(2011, 2, 9) datetime.date(2019, 3, 27)
 datetime.date(2012, 5, 31) datetime.date(2009, 4, 7)
 datetime.date(2021, 3, 31) datetime.date(2010, 1, 28)
 datetime.date(2016, 12, 20) datetime.date(2018, 3, 19)
 datetime.date(2011, 3, 16) datetime.date(2010, 9, 12)
 datetime.date(2012, 3, 21) datetime.date(2017, 6, 23)
 datetime.date(2018, 1, 29) datetime.date(2015, 2, 10)
 datetime.date(2009, 3, 15) datetime.date(2014, 5, 19)
 datetime.date(2010, 12, 5) datetime.date(2010, 1, 1)
 datetime.date(2020, 9, 1) datetime.date(2015, 9, 30)
 datetime.date(2010, 1, 24) datetime.date(2022, 6, 17)
 datetime.date(2012, 11, 15) datetime.date(2017, 5, 10)
 datetime.date(2017, 12, 18) datetime.date(2018, 10, 8)
 datetime.date(2019, 1, 24) datetime.date(2014, 2, 10)
 datetime.date(2014, 12, 17) datetime.date(2017, 10, 9)
 datetime.date(2023, 10, 9) datetime.date(2020, 6, 3)
 datetime.date(2010, 3, 1) datetime.date(2017, 5, 31)
 datetime.date(2017, 6, 6) datetime.date(2013, 3, 26)
 datetime.date(2010, 1, 3) datetime.date(2017, 6, 2)
 datetime.date(2013, 10, 10) datetime.date(2020, 1, 27)
 datetime.date(2013, 8, 29) datetime.date(2017, 11, 10)
 datetime.date(2018, 12, 11) datetime.date(2016, 1, 19)
 datetime.date(2018, 2, 7) datetime.date(2017, 9, 19)
 datetime.date(2015, 4, 17) datetime.date(2017, 3, 13)
 datetime.date(2020, 2, 4) datetime.date(2013, 1, 23)
 datetime.date(2014, 4, 29) datetime.date(2017, 1, 30)
 datetime.date(2019, 1, 28) datetime.date(2020, 9, 30)
 datetime.date(2007, 1, 21) datetime.date(2016, 10, 25)
 datetime.date(2021, 1, 19) datetime.date(2013, 2, 18)
 datetime.date(2014, 4, 3) datetime.date(2016, 8, 16)
 datetime.date(2016, 7, 14) datetime.date(2020, 3, 8)
 datetime.date(2012, 5, 6) datetime.date(2009, 6, 23)
 datetime.date(2018, 12, 17) datetime.date(2019, 3, 13)
 datetime.date(2014, 4, 30) datetime.date(2022, 3, 7)
 datetime.date(2017, 7, 1) datetime.date(2011, 5, 19)
 datetime.date(2014, 3, 11) datetime.date(2017, 3, 1)
 datetime.date(2012, 3, 18) datetime.date(2016, 1, 11)
 datetime.date(2012, 12, 18) datetime.date(2009, 2, 23)
 datetime.date(2011, 3, 15) datetime.date(2007, 10, 15)
 datetime.date(2013, 4, 10) datetime.date(2015, 1, 15)
 datetime.date(2011, 7, 8) datetime.date(2007, 5, 31)
 datetime.date(2009, 6, 4) datetime.date(2010, 4, 25)
 datetime.date(2008, 2, 19) datetime.date(2021, 4, 6)
 datetime.date(2013, 2, 19) datetime.date(2014, 4, 28)
 datetime.date(2013, 6, 18) datetime.date(2016, 1, 12)
 datetime.date(2015, 1, 19) datetime.date(2021, 1, 1)
 datetime.date(2019, 3, 9) datetime.date(2009, 1, 20)
 datetime.date(2019, 9, 20) datetime.date(2016, 1, 26)
 datetime.date(2013, 2, 1) datetime.date(2019, 12, 10)
 datetime.date(2019, 1, 30) datetime.date(2023, 6, 5)
 datetime.date(2021, 5, 1) datetime.date(2014, 2, 21)
 datetime.date(2017, 3, 22) datetime.date(2019, 12, 24)
 datetime.date(2012, 12, 11) datetime.date(2013, 3, 22)
 datetime.date(2010, 3, 30) datetime.date(2014, 3, 20)
 datetime.date(2017, 5, 4) datetime.date(2018, 8, 16)
 datetime.date(2018, 5, 22) datetime.date(2010, 5, 31)
 datetime.date(2016, 1, 28) datetime.date(2019, 12, 27)
 datetime.date(2022, 12, 20) datetime.date(2007, 12, 31)
 datetime.date(2018, 2, 8) datetime.date(2009, 5, 13)
 datetime.date(2009, 2, 5) datetime.date(2018, 3, 22)
 datetime.date(2011, 5, 3) datetime.date(2013, 2, 21)
 datetime.date(2018, 1, 26) datetime.date(2012, 11, 13)
 datetime.date(2012, 10, 15) datetime.date(2013, 10, 25)
 datetime.date(2013, 8, 9) datetime.date(2010, 4, 2)
 datetime.date(2015, 3, 27) datetime.date(2009, 3, 27)
 datetime.date(2011, 10, 18) datetime.date(2009, 5, 31)
 datetime.date(2014, 11, 1) datetime.date(2012, 2, 8)
 datetime.date(2015, 2, 2) datetime.date(2008, 3, 18)
 datetime.date(2009, 3, 22) datetime.date(2011, 5, 24)
 datetime.date(2012, 1, 25) datetime.date(2011, 8, 30)
 datetime.date(2019, 2, 5) datetime.date(2022, 3, 17)
 datetime.date(2013, 4, 9) datetime.date(2010, 8, 31)
 datetime.date(2010, 3, 16) datetime.date(2014, 11, 12)
 datetime.date(2016, 4, 19) datetime.date(2021, 5, 26)
 datetime.date(2015, 2, 23) datetime.date(2020, 1, 31)
 datetime.date(2012, 11, 8) datetime.date(2021, 1, 26)
 datetime.date(2023, 1, 31) datetime.date(2018, 8, 3)
 datetime.date(2013, 3, 12) datetime.date(2016, 1, 18)
 datetime.date(2009, 6, 30) datetime.date(2010, 2, 15)
 datetime.date(2010, 11, 8) datetime.date(2017, 4, 9)
 datetime.date(2015, 1, 31) datetime.date(2014, 2, 26)
 datetime.date(2012, 4, 23) datetime.date(2010, 3, 23)
 datetime.date(2018, 4, 6) datetime.date(2010, 9, 22)
 datetime.date(2016, 11, 1) datetime.date(2020, 12, 29)
 datetime.date(2009, 9, 10) datetime.date(2009, 6, 24)
 datetime.date(2015, 1, 27) datetime.date(2012, 1, 16)
 datetime.date(2019, 4, 23) datetime.date(2015, 4, 8)
 datetime.date(2013, 1, 1) datetime.date(2014, 2, 12)
 datetime.date(2018, 4, 9) datetime.date(2012, 5, 14)
 datetime.date(2018, 2, 14) datetime.date(2021, 3, 9)
 datetime.date(2014, 2, 13) datetime.date(2017, 10, 17)
 datetime.date(2018, 6, 6) datetime.date(2017, 3, 16)
 datetime.date(2019, 9, 25) datetime.date(2017, 6, 16)
 datetime.date(2012, 11, 5) datetime.date(2013, 1, 2)
 datetime.date(2013, 10, 7) datetime.date(2009, 7, 9)
 datetime.date(2014, 7, 1) datetime.date(2011, 2, 3)
 datetime.date(2008, 11, 30) datetime.date(2014, 6, 18)
 datetime.date(2015, 10, 12) datetime.date(2013, 6, 5)
 datetime.date(2019, 2, 13) datetime.date(2015, 6, 22)
 datetime.date(2022, 6, 2) datetime.date(2016, 5, 1)
 datetime.date(2018, 8, 27) datetime.date(2008, 2, 29)
 datetime.date(2018, 8, 28) datetime.date(2012, 2, 22)
 datetime.date(2010, 1, 14) datetime.date(2012, 4, 29)
 datetime.date(2010, 3, 10) datetime.date(2015, 2, 18)
 datetime.date(2022, 5, 10) datetime.date(2016, 4, 12)
 datetime.date(2009, 9, 27) datetime.date(2018, 2, 4)
 datetime.date(2017, 11, 6) datetime.date(2010, 4, 20)
 datetime.date(2018, 3, 26) datetime.date(2017, 1, 1)
 datetime.date(2014, 9, 29) datetime.date(2010, 3, 11)
 datetime.date(2015, 1, 20) datetime.date(2012, 11, 23)
 datetime.date(2009, 12, 17) datetime.date(2013, 12, 4)
 datetime.date(2012, 4, 25) datetime.date(2010, 3, 22)
 datetime.date(2012, 3, 1) datetime.date(2023, 3, 13)
 datetime.date(2015, 1, 25) datetime.date(2010, 10, 27)
 datetime.date(2017, 1, 23) datetime.date(2015, 12, 7)
 datetime.date(2015, 8, 5) datetime.date(2018, 8, 22)
 datetime.date(2012, 10, 16) datetime.date(2015, 3, 9)
 datetime.date(2008, 6, 11) datetime.date(2009, 4, 16)
 datetime.date(2012, 5, 2) datetime.date(2014, 3, 5)
 datetime.date(2010, 1, 31) datetime.date(2012, 11, 12)
 datetime.date(2020, 11, 13) datetime.date(2011, 6, 14)
 datetime.date(2012, 3, 14) datetime.date(2010, 4, 14)
 datetime.date(2014, 11, 3) datetime.date(2014, 2, 24)
 datetime.date(2016, 10, 1) datetime.date(2020, 2, 26)
 datetime.date(2016, 4, 4) datetime.date(2021, 8, 31)
 datetime.date(2011, 4, 26) datetime.date(2011, 10, 12)
 datetime.date(2020, 3, 24) datetime.date(2015, 1, 23)
 datetime.date(2020, 5, 18) datetime.date(2020, 11, 26)
 datetime.date(2021, 4, 26) datetime.date(2014, 3, 19)
 datetime.date(2014, 2, 6) datetime.date(2013, 12, 11)

In [129]:
#opzegdatum omzetten naar string
df_account_lid['opzegDatum'] = df_account_lid['opzegDatum'].astype(str)
#we splitsen de dataframes in accounts waarvoor de opzegtdatum = 1950-01-01 en accounts waarvoor de opzegdatum != 1950-01-01
df_account_ACTIEF = df_account_lid[df_account_lid['opzegDatum'] == '1950-01-01']
df_account_INACTIEF = df_account_lid[df_account_lid['opzegDatum'] != '1950-01-01']

df_account_INACTIEF.shape

(1535, 12)

In [130]:
#we verwijderen de rijen waarvoor redenVerloop = "unkown"
df_account_INACTIEF = df_account_INACTIEF[df_account_INACTIEF['redenVerloop'] != 'unknown']
df_account_INACTIEF.shape

(810, 12)

In [131]:
#nagaan voor accounts met accountStatus = 0, wat redenVerloop is + sinds wanneer
df_account_INACTIEF['redenVerloop'].value_counts()

redenVerloop
Geen gebruik                363
Stopzetting                 165
Overzetting lidmaatschap     94
Wanbetaler                   67
Geen meerwaarde              36
Prijs                        34
Ontevreden/klacht            26
Faillissement                18
Overname                      7
Name: count, dtype: int64

In [132]:
df_account_ACTIEF.head(10)

,accountID,plaats,isVokaEntiteit,accountStatus,ondernemingstype,ondernemingsaard,activiteitNaam,lidmaatschapID,redenAangroei,redenVerloop,startDatum,opzegDatum
1,0016CAE8-BD68-E111-B43A-00505680000A,Gentbrugge,0,1,Bedrijf,Productie & Diensten,Overige industrie & diensten,36CF5725-FA6E-E111-B43A-00505680000A,unknown,unknown,2010-12-17,1950-01-01
2,002C0FBC-C268-E111-B43A-00505680000A,Hamme (O.-Vl.),0,1,Familiebedrijf,Productie & Diensten,Ijzer en staal,A6713FE6-FB6E-E111-B43A-00505680000A,unknown,unknown,2007-01-01,1950-01-01
4,004E24A6-0A69-E111-B43A-00505680000A,Dendermonde,0,1,Bedrijf,Diensten,Telecom & IT,CF25E5EF-E76E-E111-B43A-00505680000A,unknown,unknown,2012-01-17,1950-01-01
8,01126593-AF67-E111-A00F-00505680000A,Eeklo,0,1,Familiebedrijf,Diensten,Overige industrie & diensten,25425303-FA9A-ED11-AAD1-6045BD8952CE,Actieve werving: koude prospectie,unknown,2023-01-18,1950-01-01
9,011C5162-D268-E111-B43A-00505680000A,Zele,0,1,Bedrijf,Productie,Telecom & IT,ACC7518E-FB6E-E111-B43A-00505680000A,Actieve werving: koude prospectie,Geen gebruik,2021-04-26,1950-01-01
10,0125E8A3-C268-E111-B43A-00505680000A,Gent,0,1,Overheid,Diensten,Milieu,B88870F8-FB6E-E111-B43A-00505680000A,unknown,unknown,2007-01-01,1950-01-01
12,01974141-AF68-E111-B43A-00505680000A,Lochristi,0,1,Familiebedrijf,Diensten,"Distributie, logistiek en transport",52A00221-0E6F-E111-B43A-00505680000A,unknown,unknown,2007-01-01,1950-01-01
21,022C0FBC-C268-E111-B43A-00505680000A,Wetteren,0,1,Bedrijf,Productie,"Chemie, petrochemie",AC713FE6-FB6E-E111-B43A-00505680000A,unknown,unknown,2007-01-01,1950-01-01
22,02313BCD-7D7A-E211-A980-005056B06EB4,Gent,0,1,Onderwijs,Diensten,Overige industrie & diensten,D02F5F44-B471-E511-895A-005056B06EC4,unknown,unknown,2007-01-01,1950-01-01
24,023B965B-C268-E111-B43A-00505680000A,MELDEN,0,1,Bedrijf,Productie,Ijzer en staal,61BFFC15-F26E-E111-B43A-00505680000A,unknown,unknown,2007-01-01,1950-01-01

Nu willen we voor een bepaald accountID uit de dataframe df_account_INACTIEF de aantal inschrijvingen tellen (per campagne) per jaar. We willen dit doen voor telkens het jaar VOOR het jaar van de opzegDatum.

In [133]:
#jaar voor opzegDatum per acountID bepalen
df_account_INACTIEF['jaar'] = df_account_INACTIEF['opzegDatum'].str[:4] 
df_account_INACTIEF['voorbije_jaar'] = df_account_INACTIEF['jaar'].astype(int) - 1
df_account_INACTIEF.drop('jaar', axis=1, inplace=True)

df_account_INACTIEF.head()

,accountID,plaats,isVokaEntiteit,accountStatus,ondernemingstype,ondernemingsaard,activiteitNaam,lidmaatschapID,redenAangroei,redenVerloop,startDatum,opzegDatum,voorbije_jaar
3,003B965B-C268-E111-B43A-00505680000A,GENT,0,1,Bedrijf,Diensten,Telecom & IT,D7D751D6-2D6F-E111-B43A-00505680000A,Actieve werving: koude prospectie,Geen gebruik,2013-07-04,2017-01-19,2016
6,00AE876F-0A69-E111-B43A-00505680000A,SINT-MARTENS-LATEM,0,1,Bedrijf,Diensten,Telecom & IT,9465952B-186F-E111-B43A-00505680000A,Overzetting lidmaatschap,Geen gebruik,2018-11-20,2023-12-31,2022
7,00C73253-C368-E111-B43A-00505680000A,Gent,0,1,Bedrijf,Diensten,"Distributie, logistiek en transport",99FD4663-096F-E111-B43A-00505680000A,unknown,Geen gebruik,2007-01-01,2018-01-30,2017
13,0198A955-D3BA-E611-80E3-001DD8B72B62,MERELBEKE,0,1,Bedrijf,Diensten,Telecom & IT,BD000E9F-A0D9-E611-80E5-001DD8B72B61,Actieve werving: koude prospectie,Geen gebruik,2017-01-01,2022-06-07,2021
15,01D4496C-68A7-E711-80ED-001DD8B72B61,GENT,0,1,Bedrijf,Diensten,Consultancy,0742B7C7-68A7-E711-80ED-001DD8B72B61,Actieve werving: koude prospectie,Ontevreden/klacht,2017-10-01,2018-01-27,2017

Nu hebben we dus de dataframe van accounts die hun lidmaatschap hebben opgezegd bij Voka + het jaar VOOR de opzegdatum van deze accounts. Nu gaan we voor dit jaar gaan tellen hoeveel inschrijvingen er zijn per accountID per campagne.

In [135]:
#voorbereiding inschrijving
df_inschrijving['fullDate'] = df_inschrijving['fullDate'].astype(str)
df_inschrijving['jaar'] = df_inschrijving['fullDate'].str[:4]
df_inschrijving['jaar'] = df_inschrijving['jaar'].astype(int)
df_inschrijving.head()

,campagneID,facturatieBedrag,accountID,fullDate,jaar
0,E3ABC733-BA78-EA11-810E-001DD8B72B61,550,A1FB95C5-0EF7-E811-80F9-001DD8B72B61,2020-10-21,2020
1,EA3C6FE0-758E-E811-80F3-001DD8B72B61,0,6767F5EA-0AEC-E811-80F8-001DD8B72B61,2018-12-17,2018
2,EA3C6FE0-758E-E811-80F3-001DD8B72B61,0,6767F5EA-0AEC-E811-80F8-001DD8B72B61,2018-12-17,2018
3,67B929FF-34F2-E811-80F9-001DD8B72B61,0,6767F5EA-0AEC-E811-80F8-001DD8B72B61,2018-12-17,2018
4,67B929FF-34F2-E811-80F9-001DD8B72B61,0,6767F5EA-0AEC-E811-80F8-001DD8B72B61,2018-12-17,2018

In [136]:
#hoeveel inschrijvingen per accountID van df_account_INACTIEF in het voorbije jaar (zie kolom voorbije_jaar in df) per campagneID
for i, row in df_account_INACTIEF.iterrows():
    accountID = row['accountID']
    voorbije_jaar = row['voorbije_jaar']
    df_account_INACTIEF.loc[i, 'aantal_inschrijvingen'] = df_inschrijving[(df_inschrijving['accountID'] == accountID) & (df_inschrijving['jaar'] == voorbije_jaar)]['accountID'].count()

In [138]:
df_account_INACTIEF.head()

,accountID,plaats,isVokaEntiteit,accountStatus,ondernemingstype,ondernemingsaard,activiteitNaam,lidmaatschapID,redenAangroei,redenVerloop,startDatum,opzegDatum,voorbije_jaar,aantal_inschrijvingen
3,003B965B-C268-E111-B43A-00505680000A,GENT,0,1,Bedrijf,Diensten,Telecom & IT,D7D751D6-2D6F-E111-B43A-00505680000A,Actieve werving: koude prospectie,Geen gebruik,2013-07-04,2017-01-19,2016,0.0
6,00AE876F-0A69-E111-B43A-00505680000A,SINT-MARTENS-LATEM,0,1,Bedrijf,Diensten,Telecom & IT,9465952B-186F-E111-B43A-00505680000A,Overzetting lidmaatschap,Geen gebruik,2018-11-20,2023-12-31,2022,0.0
7,00C73253-C368-E111-B43A-00505680000A,Gent,0,1,Bedrijf,Diensten,"Distributie, logistiek en transport",99FD4663-096F-E111-B43A-00505680000A,unknown,Geen gebruik,2007-01-01,2018-01-30,2017,0.0
13,0198A955-D3BA-E611-80E3-001DD8B72B62,MERELBEKE,0,1,Bedrijf,Diensten,Telecom & IT,BD000E9F-A0D9-E611-80E5-001DD8B72B61,Actieve werving: koude prospectie,Geen gebruik,2017-01-01,2022-06-07,2021,0.0
15,01D4496C-68A7-E711-80ED-001DD8B72B61,GENT,0,1,Bedrijf,Diensten,Consultancy,0742B7C7-68A7-E711-80ED-001DD8B72B61,Actieve werving: koude prospectie,Ontevreden/klacht,2017-10-01,2018-01-27,2017,0.0
16,01D8AA4D-0869-E111-B43A-00505680000A,Heusden (O.Vl.),0,1,Bedrijf,Diensten,Overige industrie & diensten,F34D8CA2-EF6E-E111-B43A-00505680000A,unknown,Geen gebruik,2007-01-01,2018-03-28,2017,0.0
17,01FDEE7F-B268-E111-B43A-00505680000A,DEINZE,0,1,Familiebedrijf,Productie & Diensten,Energie,88145E5F-8FB8-E111-A45C-00505680000A,unknown,Ontevreden/klacht,2019-01-01,2020-12-31,2019,45.0
18,0212D444-0A69-E111-B43A-00505680000A,GENT,0,1,Bedrijf,Diensten,Overige industrie & diensten,0185A7A6-FD6E-E111-B43A-00505680000A,unknown,Geen gebruik,2012-03-02,2013-04-19,2012,0.0
19,021FF0E4-7C4A-E611-80E2-001DD8B72B62,GENT,0,1,Bedrijf,Diensten,Grafische industrie en diensten,370D2537-BC4A-E711-80E7-001DD8B72B61,unknown,Wanbetaler,2017-05-29,2017-12-11,2016,0.0
20,022304C8-C268-E111-B43A-00505680000A,Sint-Gillis-bij-Dendermonde,0,1,Bedrijf,Diensten,Voeding,30CEEBEE-126F-E111-B43A-00505680000A,unknown,Overzetting lidmaatschap,2007-01-01,2017-06-27,2016,0.0
23,0238C41C-F8AC-E711-80ED-001DD8B72B61,DIKKELVENNE,0,1,Bedrijf,Diensten,Detailhandel,BC72946B-68B9-E711-80EC-001DD8B72B62,Actieve werving: koude prospectie,Geen gebruik,2017-10-19,2018-12-31,2017,0.0
25,0253A883-AB68-E111-B43A-00505680000A,DESTELBERGEN,0,1,Bedrijf,Diensten,Telecom & IT,9740C798-F96E-E111-B43A-00505680000A,Actieve werving: koude prospectie,Geen meerwaarde,2019-09-17,2022-02-02,2021,27.0
27,02789822-C068-E111-B43A-00505680000A,Hofstade (O.-Vl.),0,1,Bedrijf,Diensten,Overige industrie & diensten,F57A6D8B-106F-E111-B43A-00505680000A,unknown,Geen gebruik,2011-02-23,2019-06-19,2018,27.0
30,02D2A2B8-9C68-E111-B43A-00505680000A,GENT,0,1,Bedrijf,Diensten,Horeca & toerisme,45AB0F04-E9C5-E611-80E3-001DD8B72B62,Actieve werving: koude prospectie,Stopzetting,2016-12-16,2022-02-02,2021,0.0
31,032113F2-BF68-E111-B43A-00505680000A,Maarke-Kerkem,0,1,Bedrijf,Diensten,Overige industrie & diensten,D4236994-F86E-E111-B43A-00505680000A,unknown,Overzetting lidmaatschap,2010-09-09,2021-05-31,2020,0.0
38,036F84BA-AF68-E111-B43A-00505680000A,SINT-DENIJS-WESTREM,0,0,Bedrijf,unknown,Ijzer en staal,5D226702-056F-E111-B43A-00505680000A,unknown,Wanbetaler,2008-09-16,2014-01-31,2013,0.0
39,037D4AC0-A468-E111-B43A-00505680000A,MERELBEKE,0,1,Bedrijf,Productie & Diensten,Overige industrie & diensten,DD6E0B59-87B8-E111-A45C-00505680000A,Lead van een collega nalv contact of deelname,Overzetting lidmaatschap,2014-02-13,2014-10-03,2013,0.0
43,040B9061-C268-E111-B43A-00505680000A,Wetteren,0,1,Bedrijf,Diensten,Telecom & IT,A4E6E728-FD6E-E111-B43A-00505680000A,unknown,Stopzetting,2007-01-01,2014-12-29,2013,0.0
45,043B47FA-2F4D-E411-8F25-005056B06EB4,MERELBEKE,0,1,Bedrijf,Productie & Diensten,"Textiel, kleding en confectie",AD0F1634-304D-E411-8F25-005056B06EB4,Actieve werving: koude prospectie,Geen gebruik,2017-03-30,2021-12-31,2020,0.0
51,04E47C74-A568-E111-B43A-00505680000A,OUDENAARDE,0,1,Bedrijf,Productie & Diensten,Overige industrie & diensten,0A3A5C80-EB6E-E111-B43A-00505680000A,unknown,Geen gebruik,2011-01-02,2013-02-14,2012,0.0

In [139]:
# voor hoeveel accounts is aantal inschrijvingen = 0
df_account_INACTIEF[df_account_INACTIEF['aantal_inschrijvingen'] == 0]['accountID'].count()

726

In [148]:
df_account_ACTIEF['voorbije_jaar'] = 2023
df_account_ACTIEF.shape

C:\Users\emmad\AppData\Local\Temp\ipykernel_8868\2423168973.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_account_ACTIEF['voorbije_jaar'] = 2023

(911, 14)

In [149]:
for i, row in df_account_ACTIEF.iterrows():
    accountID = row['accountID']
    voorbije_jaar = row['voorbije_jaar']
    df_account_ACTIEF.loc[i, 'aantal_inschrijvingen'] = df_inschrijving[(df_inschrijving['accountID'] == accountID) & (df_inschrijving['jaar'] == voorbije_jaar)]['accountID'].count()

In [150]:
df_account_ACTIEF.head()

,accountID,plaats,isVokaEntiteit,accountStatus,ondernemingstype,ondernemingsaard,activiteitNaam,lidmaatschapID,redenAangroei,redenVerloop,startDatum,opzegDatum,voorbije_jaar,aantal_inschrijvingen
1,0016CAE8-BD68-E111-B43A-00505680000A,Gentbrugge,0,1,Bedrijf,Productie & Diensten,Overige industrie & diensten,36CF5725-FA6E-E111-B43A-00505680000A,unknown,unknown,2010-12-17,1950-01-01,2023,0.0
2,002C0FBC-C268-E111-B43A-00505680000A,Hamme (O.-Vl.),0,1,Familiebedrijf,Productie & Diensten,Ijzer en staal,A6713FE6-FB6E-E111-B43A-00505680000A,unknown,unknown,2007-01-01,1950-01-01,2023,0.0
4,004E24A6-0A69-E111-B43A-00505680000A,Dendermonde,0,1,Bedrijf,Diensten,Telecom & IT,CF25E5EF-E76E-E111-B43A-00505680000A,unknown,unknown,2012-01-17,1950-01-01,2023,189.0
8,01126593-AF67-E111-A00F-00505680000A,Eeklo,0,1,Familiebedrijf,Diensten,Overige industrie & diensten,25425303-FA9A-ED11-AAD1-6045BD8952CE,Actieve werving: koude prospectie,unknown,2023-01-18,1950-01-01,2023,27.0
9,011C5162-D268-E111-B43A-00505680000A,Zele,0,1,Bedrijf,Productie,Telecom & IT,ACC7518E-FB6E-E111-B43A-00505680000A,Actieve werving: koude prospectie,Geen gebruik,2021-04-26,1950-01-01,2023,0.0

In [151]:
# voor hoeveel accounts is aantal inschrijvingen = 0
df_account_ACTIEF[df_account_ACTIEF['aantal_inschrijvingen'] == 0]['accountID'].count()

434

In [171]:
df_account_INACTIEF.shape

(810, 870)

## 3. Data Cleaning

Nu gaan we voor deze 2 dataframes nog onehotencoding toepassen

In [170]:
# Print the shape of df_account_INACTIEF before conversion
print("Shape before conversion:", df_account_INACTIEF.shape)

# Convert NumPy array to DataFrame
df_account_INACTIEF = pd.DataFrame(df_account_INACTIEF, columns=['ondernemingstype', 'ondernemingsaard', 'activiteitNaam', 'redenAangroei', 'redenVerloop'])

# Check the type of df_account_INACTIEF
print(type(df_account_INACTIEF))

# Check if the columns exist
print(df_account_INACTIEF.columns)

# Check unique values in the columns to identify potential duplicates
for col in ['ondernemingstype', 'ondernemingsaard', 'activiteitNaam', 'redenAangroei', 'redenVerloop']:
    print(f"Unique values in {col}: {df_account_INACTIEF[col].unique()}")

# Now, try one-hot encoding again
df_account_INACTIEF = pd.get_dummies(df_account_INACTIEF, columns=['ondernemingstype', 'ondernemingsaard', 'activiteitNaam', 'redenAangroei', 'redenVerloop'], drop_first=True)
df_account_INACTIEF.head()

Shape before conversion: (810, 870)

ValueError: Shape of passed values is (810, 870), indices imply (810, 5)

In [166]:
#one hot encoding voor df_account_INACTIEF with get_dummies
df_account_INACTIEF = pd.get_dummies(df_account_INACTIEF, columns=['ondernemingstype', 'ondernemingsaard', 'activiteitNaam', 'redenAangroei', 'redenVerloop'], drop_first=True)
df_account_INACTIEF.head()

ValueError: 2

## 4. Model trainen

Nu gaan we voor deze situatie een model trainen die op basis van de aantal_inschrijvingen in het voorbije jaar gaat voorspellen of een account zijn lidmaatschap gaat opzeggen of niet. We gaan dit doen voor de accounts die hun lidmaatschap hebben opgezegd bij Voka.

In [156]:
#Nu gaan we voor deze situatie een model trainen die op basis van de aantal_inschrijvingen in het voorbije jaar gaat voorspellen of een account in het volgende jaar het lidmaatchap gaat opzeggen
#We gaan hiervoor een random forest model gebruiken
#We gaan eerst de data opsplitsen in een train en test set
#We gaan de data opsplitsen in een train en test set

In [160]:
#opsplitsen in X en y
X = df_account_INACTIEF[['aantal_inschrijvingen']]
y = df_account_INACTIEF['redenVerloop']

In [161]:
#opslitsen in train en test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((648, 1), (162, 1), (648,), (162,))