In [1]:
import pandas as pd
data = pd.read_csv('../data/Account financiÃ«le data.csv', sep=",")
data.head()

,crm_FinancieleData_OndernemingID,crm_FinancieleData_Boekjaar,crm_FinancieleData_Aantal_maanden,crm_FinancieleData_Toegevoegde_waarde,crm_FinancieleData_FTE,crm_FinancieleData_Gewijzigd_op
0,00002DAC-0A69-E111-B43A-00505680000A,2007,NaN,NaN,1,15-10-2018 08:21:37
1,00002DAC-0A69-E111-B43A-00505680000A,2008,NaN,NaN,1,15-10-2018 13:20:45
2,00002DAC-0A69-E111-B43A-00505680000A,2009,NaN,NaN,2,15-10-2018 04:00:52
3,00002DAC-0A69-E111-B43A-00505680000A,2010,12.0,NaN,1,15-10-2018 12:42:56
4,00002DAC-0A69-E111-B43A-00505680000A,2011,12.0,NaN,1,15-10-2018 04:54:28

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2030217 entries, 0 to 2030216
Data columns (total 6 columns):
 #   Column                                 Dtype
---  ------                                 -----
 0   crm_FinancieleData_OndernemingID       object
 1   crm_FinancieleData_Boekjaar            int64
 2   crm_FinancieleData_Aantal_maanden      float64
 3   crm_FinancieleData_Toegevoegde_waarde  object
 4   crm_FinancieleData_FTE                 object
 5   crm_FinancieleData_Gewijzigd_op        object
dtypes: float64(1), int64(1), object(4)
memory usage: 92.9+ MB

In [4]:
data.value_counts()

crm_FinancieleData_OndernemingID      crm_FinancieleData_Boekjaar  crm_FinancieleData_Aantal_maanden  crm_FinancieleData_Toegevoegde_waarde  crm_FinancieleData_FTE  crm_FinancieleData_Gewijzigd_op
00002DAC-0A69-E111-B43A-00505680000A  2013                         12.0                               69164                                  1                       14-10-2018 11:38:50                1
AB04D2BC-2569-E111-B43A-00505680000A  2019                         12.0                               64365                                  0                       11-11-2020 12:48:35                1
AB057770-2F69-E111-B43A-00505680000A  2020                         12.0                               -341                                   0                       30-9-2021 16:55:15                 1
                                      2019                         12.0                               -1018                                  0                       11-11-2020 13:13:34                1
                                      2018                         12.0                               2249                                   0                       10-9-2019 04:00:09                 1
                                                                                                                                                                                                       ..
53D141A1-1169-E111-B43A-00505680000A  2014                         12.0                               -96429                                 0                       14-10-2018 15:52:53                1
                                      2015                         12.0                               -19669                                 0                       14-10-2018 00:52:31                1
53D157B6-A568-E111-B43A-00505680000A  2012                         12.0                               49589                                  0                       14-10-2018 11:34:57                1
                                      2013                         12.0                               -37175                                 0                       14-10-2018 13:53:38                1
FFFF6CCD-DF68-E111-B43A-00505680000A  2021                         12.0                               7172                                   0                       16-2-2023 01:08:01                 1
Name: count, Length: 1165030, dtype: int64