In [13]:
import pandas as pd
data = pd.read_csv('../data_clean/Activiteit_vereist_contact_fixed.csv', sep=",")
data.head()

,FinancieleData_ID,ActiviteitVereistContact_ActivityId,ActiviteitVereistContact_ReqAttendee
0,1,0000028D-CC1A-E411-ACD3-005056B06EC4,902EEFE7-2703-E211-8CF1-984BE17C2819
1,2,00001418-F074-E311-BBFD-005056B06EB4,902EEFE7-2703-E211-8CF1-984BE17C2819
2,3,00002236-D170-E511-9AB0-005056B06EB4,320746D0-9C6C-E311-B4EF-005056B06EC4
3,4,00002236-D170-E511-9AB0-005056B06EB4,320746D0-9C6C-E311-B4EF-005056B06EC4
4,5,00003B12-1DDD-ED11-9D39-0050568A003F,541F9850-176A-E111-B43A-00505680000A

In [22]:
data['ActiviteitVereistContact_ActivityId'].iloc[0].split('-')

['0000028D', 'CC1A', 'E411', 'ACD3', '005056B06EC4']

In [2]:
data.isnull().sum()

FinancieleData_ID                       0
ActiviteitVereistContact_ActivityId     0
ActiviteitVereistContact_ReqAttendee    0
dtype: int64

In [4]:
data.dropna(inplace=True)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1901287 entries, 0 to 1901286
Data columns (total 3 columns):
 #   Column                  Dtype
---  ------                  -----
 0   FinancieleData_ID       int64
 1   Afspraak_ALLE_Afspraak  object
 2   Contact_Contactpersoon  object
dtypes: int64(1), object(2)
memory usage: 43.5+ MB

In [6]:
data[data['FinancieleData_ID'] == 1]

,FinancieleData_ID,Afspraak_ALLE_Afspraak,Contact_Contactpersoon
0,1,0000028D-CC1A-E411-ACD3-005056B06EC4,902EEFE7-2703-E211-8CF1-984BE17C2819

In [7]:
# data.to_csv('../data_clean/Activiteit_vereist_contact_fixed.csv', index=False)