In [1]:
import pandas as pd
data = pd.read_csv('../data/Afspraak alle.csv', sep=",")
data.head()

             crm_Afspraak_ALLE_Afspraak
0  00082DAA-24BF-ED11-83FF-6045BD8952CE
1  00109C77-4D09-EB11-8114-001DD8B72B61
2  0011A5D9-CC9A-EC11-B400-0022488005A7
3  0016532E-14E3-EC11-BB3C-000D3ABCA38B
4  003760C1-13B4-EC11-983F-00224883C880

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8265 entries, 0 to 8264
Data columns (total 1 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   crm_Afspraak_ALLE_Afspraak  8265 non-null   object
dtypes: object(1)
memory usage: 64.7+ KB