In [16]:
import pandas as pd
data = pd.read_csv('../data/Contact functie.csv', sep=",")
data = data.dropna()

  crm_ContactFunctie_Contactpersoon crm_ContactFunctie_Functie
0                               NaN                        NaN
1                               NaN                        NaN
2                               NaN                        NaN
3                               NaN                        NaN
4                               NaN                        NaN

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 594348 entries, 0 to 594347
Data columns (total 2 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   crm_ContactFunctie_Contactpersoon  591842 non-null  object
 1   crm_ContactFunctie_Functie         591842 non-null  object
dtypes: object(2)
memory usage: 9.1+ MB

In [18]:
data = data.dropna()

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 591842 entries, 2506 to 594347
Data columns (total 2 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   crm_ContactFunctie_Contactpersoon  591842 non-null  object
 1   crm_ContactFunctie_Functie         591842 non-null  object
dtypes: object(2)
memory usage: 13.5+ MB

In [20]:
data.head()

,crm_ContactFunctie_Contactpersoon,crm_ContactFunctie_Functie
2506,00002D37-EF48-EB11-8119-001DD8B72B62,F9832C1E-1862-E111-8F14-00505680000A
2507,000043F9-3587-E311-BBFD-005056B06EB4,A9832C1E-1862-E111-8F14-00505680000A
2508,00005DF1-1FC9-E711-80EC-001DD8B72B62,7CBB6CB0-F29C-E211-A980-005056B06EB4
2509,00008922-92DA-E711-80EE-001DD8B72B61,F7832C1E-1862-E111-8F14-00505680000A
2510,0000A149-846A-E111-B43A-00505680000A,F9832C1E-1862-E111-8F14-00505680000A