In [1]:
import pandas as pd
data = pd.read_csv('../data_clean/Contact_functie_fixed.csv', sep=",")
data = data.dropna()

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 591842 entries, 0 to 591841
Data columns (total 3 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   FinancieleData_ID              591842 non-null  int64
 1   ContactFunctie_Contactpersoon  591842 non-null  object
 2   ContactFunctie_Functie         591842 non-null  object
dtypes: int64(1), object(2)
memory usage: 13.5+ MB

In [3]:
data.head()

,FinancieleData_ID,ContactFunctie_Contactpersoon,ContactFunctie_Functie
0,2507,00002D37-EF48-EB11-8119-001DD8B72B62,F9832C1E-1862-E111-8F14-00505680000A
1,2508,000043F9-3587-E311-BBFD-005056B06EB4,A9832C1E-1862-E111-8F14-00505680000A
2,2509,00005DF1-1FC9-E711-80EC-001DD8B72B62,7CBB6CB0-F29C-E211-A980-005056B06EB4
3,2510,00008922-92DA-E711-80EE-001DD8B72B61,F7832C1E-1862-E111-8F14-00505680000A
4,2511,0000A149-846A-E111-B43A-00505680000A,F9832C1E-1862-E111-8F14-00505680000A