In [50]:
import pandas as pd
import numpy as np
import os

In [51]:
DATA_DIR = '../data_clean/'
FILE_NAME = 'Account_financiële_data_fixed'
URL = os.path.join(DATA_DIR, FILE_NAME + '.csv')

In [89]:
data = pd.read_csv(URL)
categorical_cols = data.select_dtypes(include=[object]).columns.tolist()

categorical_cols

['financieledata_ondernemingid',
 'financieledata_toegevoegde_waarde',
 'financieledata_fte',
 'financieledata_gewijzigd_op']

In [90]:
data.columns

Index(['financieledata_ondernemingid', 'financieledata_boekjaar',
       'financieledata_aantal_maanden', 'financieledata_toegevoegde_waarde',
       'financieledata_fte', 'financieledata_gewijzigd_op'],
      dtype='object')

In [53]:
data_cat = data[categorical_cols]
del data

In [54]:
data_cat.head()

,financieledata_ondernemingid,financieledata_toegevoegde_waarde,financieledata_fte,financieledata_gewijzigd_op
0,00002DAC-0A69-E111-B43A-00505680000A,unknown,1,15-10-2018 08:21:37
1,00002DAC-0A69-E111-B43A-00505680000A,unknown,1,15-10-2018 13:20:45
2,00002DAC-0A69-E111-B43A-00505680000A,unknown,2,15-10-2018 04:00:52
3,00002DAC-0A69-E111-B43A-00505680000A,unknown,1,15-10-2018 12:42:56
4,00002DAC-0A69-E111-B43A-00505680000A,unknown,1,15-10-2018 04:54:28

In [55]:
ID = 'financieledata_ondernemingid'
data_cat.drop(ID, axis=1, inplace=True)

In [56]:
data_cat[data_cat['financieledata_toegevoegde_waarde'] != 'unknown']['financieledata_toegevoegde_waarde'].unique()

array(['69164', '46718', '23551', ..., '290293', '325262', '89004'],
      dtype=object)

In [57]:
# change to floats and unknown to -1
data_cat['financieledata_toegevoegde_waarde'].replace('unknown', '-1', inplace=True)
data_cat['financieledata_toegevoegde_waarde'] = data_cat['financieledata_toegevoegde_waarde'].str.replace(',', '.')
data_cat['financieledata_toegevoegde_waarde'] = data_cat['financieledata_toegevoegde_waarde'].astype(float)
data_cat.head()

,financieledata_toegevoegde_waarde,financieledata_fte,financieledata_gewijzigd_op
0,-1.0,1,15-10-2018 08:21:37
1,-1.0,1,15-10-2018 13:20:45
2,-1.0,2,15-10-2018 04:00:52
3,-1.0,1,15-10-2018 12:42:56
4,-1.0,1,15-10-2018 04:54:28

In [61]:
data_cat[data_cat['financieledata_toegevoegde_waarde'] != -1]

,financieledata_toegevoegde_waarde,financieledata_fte,financieledata_gewijzigd_op
6,69164.0,1,14-10-2018 11:38:50
7,46718.0,1,14-10-2018 11:29:04
8,23551.0,0,14-10-2018 13:03:53
9,65481.0,0,14-10-2018 02:38:24
10,45387.0,0,14-10-2018 05:45:21
...,...,...,...
2030168,12048.0,0,14-10-2018 05:44:04
2030169,4552.0,0,31-8-2019 03:04:19
2030170,5892.0,0,3-10-2020 03:02:33
2030171,-11292.0,0,16-9-2021 03:11:02
2030172,7172.0,0,16-2-2023 01:08:01

In [ ]:
data_cat['financieledata_fte'].replace('unknown', '-1', inplace=True)
data_cat['financieledata_fte'] = data_cat['financieledata_fte'].str.replace(',', '.')
data_cat['financieledata_fte'] = data_cat['financieledata_fte'].astype(float)

In [88]:
value_counts = data_cat[data_cat['financieledata_fte'] != -1]['financieledata_fte'].value_counts()
selected_values = value_counts[value_counts > 10_0000]
selected_values

financieledata_fte
0.0    735607
1.0    159611
2.0    109460
Name: count, dtype: int64

In [59]:
# apply one hot encoding using scikit-learn
from sklearn.preprocessing import OneHotEncoder

# create instance of one-hot-encoder
enc = OneHotEncoder(handle_unknown='ignore')

# fit and transform data
data_num = pd.DataFrame(enc.fit_transform(data_cat).toarray())

data_num.head()

In [60]:
for file in os.listdir(DATA_DIR):
    if file.endswith('_fixed.csv'):
        print(file)

Account_activiteitscode_fixed.csv
Account_financiële_data_fixed.csv
Account_fixed.csv
Activiteitscode_fixed.csv
Activiteit_vereist_contact_fixed.csv
Afspraak_account_gelinkt_cleaned_fixed.csv
Afspraak_alle_fixed.csv
Afspraak_betreft_account_cleaned_fixed.csv
Afspraak_betreft_contact_cleaned_fixed.csv
Campagne_fixed.csv
CDI_mailing_fixed.csv
CDI_pageviews_fixed.csv
CDI_sent_email_clicks_fixed.csv
CDI_visits_fixed.csv
CDI_web_content_fixed.csv
Contact_fixed.csv
Contact_functie_fixed.csv
Functie_fixed.csv
Gebruikers_fixed.csv
Info_en_klachten_fixed.csv
Inschrijving_fixed.csv
Lidmaatschap_fixed.csv
Persoon_fixed.csv
Sessie_fixed.csv
Sessie_inschrijving_fixed.csv
Teams_fixed.csv