In [1]:
import pandas as pd
data = pd.read_csv('../data/Sessie inschrijving.csv', sep=",")
data.head()

,crm_SessieInschrijving_SessieInschrijving,crm_SessieInschrijving_Sessie,crm_SessieInschrijving_Inschrijving
0,NaN,NaN,NaN
1,NaN,NaN,NaN
2,NaN,NaN,NaN
3,NaN,NaN,NaN
4,NaN,NaN,NaN

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1417368 entries, 0 to 1417367
Data columns (total 3 columns):
 #   Column                                     Non-Null Count    Dtype
---  ------                                     --------------    -----
 0   crm_SessieInschrijving_SessieInschrijving  1413178 non-null  object
 1   crm_SessieInschrijving_Sessie              1413178 non-null  object
 2   crm_SessieInschrijving_Inschrijving        1413178 non-null  object
dtypes: object(3)
memory usage: 32.4+ MB

In [3]:
data.dropna(inplace=True)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1413178 entries, 4190 to 1417367
Data columns (total 3 columns):
 #   Column                                     Non-Null Count    Dtype
---  ------                                     --------------    -----
 0   crm_SessieInschrijving_SessieInschrijving  1413178 non-null  object
 1   crm_SessieInschrijving_Sessie              1413178 non-null  object
 2   crm_SessieInschrijving_Inschrijving        1413178 non-null  object
dtypes: object(3)
memory usage: 43.1+ MB

In [5]:
data.head()

,crm_SessieInschrijving_SessieInschrijving,crm_SessieInschrijving_Sessie,crm_SessieInschrijving_Inschrijving
4190,00000033-7696-E911-80FF-001DD8B72B61,5C0D87E1-8275-E911-80FE-001DD8B72B62,F6FFFF32-7696-E911-80FF-001DD8B72B61
4191,000003B8-B7F7-E311-956D-005056B06EB4,9D62E8AA-B7F7-E311-956D-005056B06EB4,FFFF02B8-B7F7-E311-956D-005056B06EB4
4192,00001C33-FE05-EA11-8107-001DD8B72B61,FAFF1B33-FE05-EA11-8107-001DD8B72B61,B78C945E-FD9B-E911-8100-001DD8B72B61
4193,00002092-25C9-E711-80EC-001DD8B72B62,C2192CB8-D319-E711-80E4-001DD8B72B62,FDFF1F92-25C9-E711-80EC-001DD8B72B62
4194,0000254F-0CBB-E111-92F9-1CC1DE6D1BD7,B636C1E9-AEB8-E111-A45C-00505680000A,FA77B7FB-30B9-E111-A45C-00505680000A