In [1]:
import pandas as pd
data = pd.read_csv('../data/teams.csv', sep=",")
data.head()

,XLS_Teams_Team_code_selecteer_uit_lijst_,XLS_Teams_Activiteit_boeking_naam_ter_info_
0,AO,'@level externe kosten
1,AO,'@level investeringen
2,AO,'@level overhead
3,AO,'@level personeelskosten
4,AO,'@level reis- en verblijfskosten

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 746 entries, 0 to 745
Data columns (total 2 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   XLS_Teams_Team_code_selecteer_uit_lijst_     746 non-null    object
 1   XLS_Teams_Activiteit_boeking_naam_ter_info_  746 non-null    object
dtypes: object(2)
memory usage: 11.8+ KB