In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
data = pd.read_csv('../data_clean/Account_activiteitscode_fixed.csv', sep=',')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14673 entries, 0 to 14672
Data columns (total 3 columns):
 #   Column                                                     Non-Null Count  Dtype
---  ------                                                     --------------  -----
 0   Account_ActiviteitsCode_Account                            14673 non-null  object
 1   Account_ActiviteitsCode_Activiteitscode                    14673 non-null  object
 2   Account_ActiviteitsCode_inf_account_inf_activiteitscodeId  14673 non-null  object
dtypes: object(3)
memory usage: 344.0+ KB

In [12]:
data[data['Account_ActiviteitsCode_Account'].isnull()]

Empty DataFrame
Columns: [Account_ActiviteitsCode_Account, Account_ActiviteitsCode_Activiteitscode, Account_ActiviteitsCode_inf_account_inf_activiteitscodeId]
Index: []

In [13]:
data.head()

,Account_ActiviteitsCode_Account,Account_ActiviteitsCode_Activiteitscode,Account_ActiviteitsCode_inf_account_inf_activiteitscodeId
0,00002DAC-0A69-E111-B43A-00505680000A,20787771-1A62-E111-8F14-00505680000A,2D780AA3-856B-E111-B98D-18A905732A15
1,00068436-F919-E211-9DAA-005056B06EB4,D4FF9BBC-FBC1-E211-A980-005056B06EB4,490DB440-5FC7-E611-80E3-001DD8B72B62
2,0009A6E6-2369-E111-B43A-00505680000A,12787771-1A62-E111-8F14-00505680000A,37301718-F9C6-EC11-A7B6-000D3A497120
3,000D39CF-BE68-E111-B43A-00505680000A,1A787771-1A62-E111-8F14-00505680000A,791676C0-816B-E111-B98D-18A905732A15
4,0016CAE8-BD68-E111-B43A-00505680000A,20787771-1A62-E111-8F14-00505680000A,DB3A9AFC-816B-E111-B98D-18A905732A15

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14673 entries, 0 to 14672
Data columns (total 3 columns):
 #   Column                                                         Non-Null Count  Dtype
---  ------                                                         --------------  -----
 0   crm_Account_ActiviteitsCode_Account                            14673 non-null  object
 1   crm_Account_ActiviteitsCode_Activiteitscode                    14673 non-null  object
 2   crm_Account_ActiviteitsCode_inf_account_inf_activiteitscodeId  14673 non-null  object
dtypes: object(3)
memory usage: 344.0+ KB