In [1]:
import pandas as pd
data = pd.read_csv('../data/Activiteitscode.csv', sep=",")
data.head()

,crm_ActiviteitsCode_Naam,crm_ActiviteitsCode_Activiteitscode,crm_ActiviteitsCode_Status
0,Accountancy & boekhouding,7D8F7E6B-1A62-E111-8F14-00505680000A,Actief
1,Agrarische & bio-industrie,808F7E6B-1A62-E111-8F14-00505680000A,Actief
2,Automobiel- en Tweewielerindustrie,828F7E6B-1A62-E111-8F14-00505680000A,Actief
3,Bouw,858F7E6B-1A62-E111-8F14-00505680000A,Actief
4,"Chemie, petrochemie",878F7E6B-1A62-E111-8F14-00505680000A,Actief

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 3 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   crm_ActiviteitsCode_Naam             40 non-null     object
 1   crm_ActiviteitsCode_Activiteitscode  40 non-null     object
 2   crm_ActiviteitsCode_Status           40 non-null     object
dtypes: object(3)
memory usage: 1.1+ KB

In [3]:
data.isnull().sum()

crm_ActiviteitsCode_Naam               0
crm_ActiviteitsCode_Activiteitscode    0
crm_ActiviteitsCode_Status             0
dtype: int64

In [5]:
data.crm_ActiviteitsCode_Status.unique()

array(['Actief', 'Inactief'], dtype=object)

In [7]:
data.replace({'crm_ActiviteitsCode_Status': {'Actief': 1,'Inactief': 0}}, inplace=True)
data.head()

,crm_ActiviteitsCode_Naam,crm_ActiviteitsCode_Activiteitscode,crm_ActiviteitsCode_Status
0,Accountancy & boekhouding,7D8F7E6B-1A62-E111-8F14-00505680000A,1
1,Agrarische & bio-industrie,808F7E6B-1A62-E111-8F14-00505680000A,1
2,Automobiel- en Tweewielerindustrie,828F7E6B-1A62-E111-8F14-00505680000A,1
3,Bouw,858F7E6B-1A62-E111-8F14-00505680000A,1
4,"Chemie, petrochemie",878F7E6B-1A62-E111-8F14-00505680000A,1