In [1]:
import pandas as pd
data = pd.read_csv('../data/inschrijving.csv', sep=",")
data.head()

,crm_Inschrijving_Aanwezig_Afwezig,crm_Inschrijving_Bron,crm_Inschrijving_Contactfiche,crm_Inschrijving_Datum_inschrijving,crm_Inschrijving_Inschrijving,crm_Inschrijving_Facturatie_Bedrag
0,Aanwezig,NaN,NaN,28-11-2018,6046240D-13F3-E811-80FA-001DD8B72B62,0
1,Aanwezig,NaN,NaN,5-6-2019,3BE5B8C6-6487-E911-80FF-001DD8B72B62,0
2,Aanwezig,NaN,NaN,5-6-2019,99A0AC66-6587-E911-80FF-001DD8B72B62,0
3,Aanwezig,NaN,11501223-64EA-E911-8106-001DD8B72B62,15-1-2020,DA6D262F-9537-EA11-810A-001DD8B72B61,0
4,Aanwezig,NaN,12C0821D-03EC-E811-80FA-001DD8B72B62,19-11-2018,20A89423-03EC-E811-80FA-001DD8B72B62,0

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374948 entries, 0 to 374947
Data columns (total 6 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   crm_Inschrijving_Aanwezig_Afwezig    374948 non-null  object
 1   crm_Inschrijving_Bron                374913 non-null  object
 2   crm_Inschrijving_Contactfiche        363376 non-null  object
 3   crm_Inschrijving_Datum_inschrijving  374948 non-null  object
 4   crm_Inschrijving_Inschrijving        374948 non-null  object
 5   crm_Inschrijving_Facturatie_Bedrag   374948 non-null  object
dtypes: object(6)
memory usage: 17.2+ MB