In [3]:
import pandas as pd
data = pd.read_csv('../data/lidmaatschap.csv', sep=",")
data.head()

,crm_Lidmaatschap_Datum_Opzeg,crm_Lidmaatschap_Lidmaatschap,crm_Lidmaatschap_Onderneming,crm_Lidmaatschap_Reden_Aangroei,crm_Lidmaatschap_Reden_Verloop,crm_Lidmaatschap_Startdatum
0,NaN,0014C090-3F02-E611-8668-005056B06EC4,E7726D1E-C80A-E511-ABE8-005056B06EB4,Actieve werving: koude prospectie,NaN,11-4-2016
1,NaN,0023960B-C39F-E311-B1AE-005056B06EC4,D64157FA-9F68-E111-B43A-00505680000A,Lead van een collega nalv contact of deelname,NaN,12-2-2014
2,NaN,00296269-096F-E111-B43A-00505680000A,19EB325F-C368-E111-B43A-00505680000A,NaN,NaN,1-1-2014
3,NaN,0065C4C5-9403-EE11-8F6E-6045BD895D4D,E31B5630-F6EE-ED11-8849-6045BD895D4D,Actieve werving: koude prospectie,NaN,23-5-2023
4,NaN,0082BAB8-FD6E-E111-B43A-00505680000A,92A753BA-0569-E111-B43A-00505680000A,NaN,NaN,1-1-2007

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6826 entries, 0 to 6825
Data columns (total 6 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   crm_Lidmaatschap_Datum_Opzeg     4273 non-null   object
 1   crm_Lidmaatschap_Lidmaatschap    6826 non-null   object
 2   crm_Lidmaatschap_Onderneming     6826 non-null   object
 3   crm_Lidmaatschap_Reden_Aangroei  3021 non-null   object
 4   crm_Lidmaatschap_Reden_Verloop   2477 non-null   object
 5   crm_Lidmaatschap_Startdatum      6821 non-null   object
dtypes: object(6)
memory usage: 320.1+ KB